@model FDI.Base.Advertising_Position

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<fieldset class="forms">
    <legend>Vị trí hiển thị</legend>
    <table class="table table-responsive">
        <tr>
            <td><label>Tên bài viết</label></td>
            <td>
                @Model.Name
            </td>
        </tr>
    </table>
</fieldset>

