@model FDI.Base.Customer_Device
@{
    ViewBag.Title = ViewBag.ActionText + " chuyên mục khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#CustomerDeviceForm").validate({
            rules: {
                Name:
                {
                    required: true,
                    maxlength: 255
                }
            },
            messages: {
                Name: "Bạn cần nhập tên thiết bị"


            },
            submitHandler: function () { //onSubmit
                $.post(urlPostAction, $("#CustomerDeviceForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
<form id="CustomerDeviceForm">
    <input type="hidden" name="do" id="do" value="@ViewBag.Action"/>
    <input type="hidden" name="ItemID" id="ItemID" value="@Model.ID"/>
    
    <fieldset class="forms">
        <table class="tableforms" cellspacing="1" width="100%">
            <tr>
                <td style="width:100px;"><label>Thiết bị</label></td>
                <td>
                    <input type="text" name="Name" id="Name" value="@Model.Name"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button id="submit" type="submit" class="primaryAction">@ViewBag.ActionText</button>
                    <button id="reset" type="reset" class="primaryAction">Nhập lại</button>
                    <button id="close" type="button" class="primaryAction">Đóng lại</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</div>