@model FDI.Base.System_District

@{
    ViewBag.Title = "Xem chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<div class="col-sm-12">
    <section class="panel panel-default">
        <header class="panel-heading font-bold">Thông tin về quận huyện</header>
        <table class="table table-bordered">
            <tr>
                <td><label>Tên quận huyện</label></td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
        
            <tr>
                <td><label>Tỉnh, Thành phố</label></td>
                <td>
                    @Html.DisplayFor(model => model.System_City.Name)
                </td>
            </tr>

            <tr>
                <td><label>Hiển thị</label></td>
                <td>
                    @Grid.DisplayShow(Model.Name, Model.Show)
                </td>
            </tr>

            <tr>
                <td><label>Mô tả</label></td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>
        </table>
    </section>
</div>

