<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Skin/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../Skin/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../Skin/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../../Skin/css/font.css" type="text/css" />
    <link rel="stylesheet" href="../../Skin/css/app.css" type="text/css" />
    <script src="~/Content/jquery-1.8.2.min.js"></script>
</head>
<body>
    <div class="main">
        @RenderBody()
    </div>
    <script src="~/Skin/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Skin/js/bootstrap.js"></script>
    <!-- App -->
    <script src="~/Skin/js/app.js"></script>
    <script src="~/Skin/js/app.plugin.js"></script>
    <script src="~/Skin/js/slimscroll/jquery.slimscroll.min.js"></script>
</body>
</html>
