<h5 class="font-semibold">TAG</h5>
<div class="line line-dashed"></div>
<div class="tags m-b-lg">
	<a href="#" class="label bg-success">Dich vu</a>
	<a href="#" class="label bg-primary">Thiet ke web</a>
	<a href="#" class="label bg-dark">Domain</a>
	<a href="#" class="label bg-warning">Tu van</a>
	<a href="#" class="label bg-info">seo</a>
	<a href="#" class="label bg-success">mvc 4</a>
</div>
