legend {
    border: 1px solid #e5e5e5;
}

.bg-blue {
    background-color: #00859D!important;
}
.ui-dialog-buttonset > button {
    font-weight: 500;
    border-radius: 2px;
    color: #717171 !important;
    background-color: #fafafa;
    border-color: #ccc!important;
    -webkit-box-shadow: 0 1px 1px rgba(90,90,90,0.1);
    box-shadow: 0 1px 1px rgba(90,90,90,0.1);
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    border: 1px solid transparent;
}
.ui-dialog-buttonset > button:hover {
    background-color: #ededed;
}

.bg-blue.dk, .bg-blue .dk {
    background-color: #3fb4b5;
}

.bg-blue.dker, .bg-blue .dker {
    background-color: #38a1a2;
}

.bg-blue .nav > li > a:hover, .bg-blue .nav > li > a:focus {
    color: #fff;
    background-color: #3fb4b5;
}

.bg-blue .nav > li > a {
    color: #ffffff;
}

.m-l-15x {
    MARGIN-LEFT: -15px;
}

.m-r-15x {
    margin-right: -15px;
}

.header-posittion {
    z-index: 1;
    position: absolute;
    width: 100%;
}

.ui-dialog .ui-dialog-buttonpane {
    background-color: #F5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.ui-dialog .ui-dialog-titlebar {
    line-height: 38px;
    padding: 0px !important;
    padding-left: 15px!important;
}

.ui-dialog {
    -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.ui-dialog-titlebar-buttonpane {
    top: 0!important;
    right: 0!important;
    height: 40px!important;
    margin-top: 0px!important;
    background-color: #65bd77 !important;
}

    .ui-dialog-titlebar-buttonpane > button, .ui-dialog-titlebar-buttonpane > a {
        border: 0 !important;
        width: 40px!important;
        height: 40px!important;
    }

        .ui-dialog-titlebar-buttonpane > a:hover {
            background-color: rgba(117, 218, 138, 1)!important;
        }

        .ui-dialog-titlebar-buttonpane > a, .ui-dialog-titlebar-buttonpane > a > span {
            border: 0 !important;
            width: 40px!important;
            height: 40px!important;
        }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: transparent !important;
}
.ui-widget-header {
    background: #65bd77!important;
}
.ui-icon-newwin {
    background: url("/images/resize-small-24.png") no-repeat center !important;
}

.ui-icon-extlink {
    background: url("/images/fullscreen-16.png") no-repeat center !important;
}

.ui-icon-newwin {
    background: url("/images/resize-small-24.png") no-repeat center !important;
}

.ui-icon-triangle-1-s {
    background: url("/images/arrow_carrot-2down-16.png") no-repeat center !important;
}

.ui-icon-minus {
    background: url("/images/minus-16.png") no-repeat center !important;
}

.ui-dialog .ui-dialog-titlebar-close {
    background-repeat: no-repeat!important;
    border: 0px;
    right: 0px!important;
    top: 0px!important;
    width: 40px!important;
    height: 40px!important;
    margin: 0!important;
}

    .ui-dialog .ui-dialog-titlebar-close:hover {
        background-color: #B51B08!important;
    }

/*showLoading*/
.loading-indicator {
    height: 80px;
    width: 80px;
    background: url( '/Scripts/showLoading/images/ajax-loader-metro-green.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;
    filter: alpha(opacity = 60);
}

.hideOverflow {
    overflow: hidden;   
}
/*End showLoading*/
 
.field-validation-error, .input-validation-error {
    color: red;
}
.input-validation-error {
      border-color: #ff5f5f !important;
}