USE [QLSV]
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](255) NULL,
	[HoTen] [nvarchar](255) NULL,
	[Quyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_TaiKhoan] UNIQUE NONCLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Taikhoan] ON
INSERT [dbo].[Taikhoan] ([ID], [TaiKhoan], [MatKhau], [HoTen], [Quyen]) VALUES (1, N'admin', N'e10adc3949ba59abbe56e057f20f883e', N'admin', N'quantri')
INSERT [dbo].[Taikhoan] ([ID], [TaiKhoan], [MatKhau], [HoTen], [Quyen]) VALUES (2, N'nd1', N'e10adc3949ba59abbe56e057f20f883e', N'Nguyễn Quang Khánh', N'nguoidung')
SET IDENTITY_INSERT [dbo].[Taikhoan] OFF
/****** Object:  Table [dbo].[PhongThi]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongThi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](255) NOT NULL,
	[SucChua] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GhiChu] [nvarchar](255) NULL,
 CONSTRAINT [PK_PhongThi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhongThi] ON
INSERT [dbo].[PhongThi] ([ID], [TenPhong], [SucChua], [SoLuong], [GhiChu]) VALUES (3, N'101H1', 40, 40, N'')
INSERT [dbo].[PhongThi] ([ID], [TenPhong], [SucChua], [SoLuong], [GhiChu]) VALUES (4, N'102H1', 40, 40, N'')
INSERT [dbo].[PhongThi] ([ID], [TenPhong], [SucChua], [SoLuong], [GhiChu]) VALUES (5, N'103H1', 40, 40, N'')
SET IDENTITY_INSERT [dbo].[PhongThi] OFF
/****** Object:  Table [dbo].[Khoa]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKhoa] [nvarchar](50) NULL,
	[TenKhoa] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Khoa] ON
INSERT [dbo].[Khoa] ([ID], [MaKhoa], [TenKhoa]) VALUES (1349, N'', N'Kỹ thuật xây dựng công trình giao thông')
INSERT [dbo].[Khoa] ([ID], [MaKhoa], [TenKhoa]) VALUES (1350, N'XD', N'Xây dựng Dân dụng và Công nghiệp')
INSERT [dbo].[Khoa] ([ID], [MaKhoa], [TenKhoa]) VALUES (1351, N'KT', N'Kiến trúc')
SET IDENTITY_INSERT [dbo].[Khoa] OFF
/****** Object:  Table [dbo].[Kythi]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kythi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaKyThi] [nvarchar](255) NOT NULL,
	[TenKyThi] [nvarchar](255) NULL,
	[NgayThi] [nvarchar](50) NOT NULL,
	[ThoiGianLamBai] [int] NOT NULL,
	[ThoiGianBatDau] [nvarchar](255) NOT NULL,
	[ThoiGianKetThuc] [nvarchar](255) NULL,
 CONSTRAINT [PK_KyThi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kythi] ON
INSERT [dbo].[Kythi] ([ID], [MaKyThi], [TenKyThi], [NgayThi], [ThoiGianLamBai], [ThoiGianBatDau], [ThoiGianKetThuc]) VALUES (1, N'tak59', N'Kiểm tra trình độ tiếng anh k59', N'03/10/2014', 60, N'06:00', N'06:00')
SET IDENTITY_INSERT [dbo].[Kythi] OFF
/****** Object:  Table [dbo].[KetQua]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQua](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdKyThi] [int] NOT NULL,
	[MaSinhVien] [nvarchar](255) NOT NULL,
	[MaDe] [nvarchar](255) NOT NULL,
	[KetQua] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_KetQua] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DapAn]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DapAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdKyThi] [int] NOT NULL,
	[MaMon] [nvarchar](30) NOT NULL,
	[MaDe] [nvarchar](10) NOT NULL,
	[CauHoi] [nvarchar](10) NOT NULL,
	[DapAn] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_DapAn] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaLop] [nvarchar](50) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
	[IdKhoa] [int] NOT NULL,
 CONSTRAINT [PK_Lop] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MaLop] UNIQUE NONCLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lop] ON
INSERT [dbo].[Lop] ([ID], [MaLop], [GhiChu], [IdKhoa]) VALUES (3328, N'59CD3', N'good', 1349)
INSERT [dbo].[Lop] ([ID], [MaLop], [GhiChu], [IdKhoa]) VALUES (3329, N'59CD2', N'', 1349)
INSERT [dbo].[Lop] ([ID], [MaLop], [GhiChu], [IdKhoa]) VALUES (3330, N'59XD8', N'', 1350)
SET IDENTITY_INSERT [dbo].[Lop] OFF
/****** Object:  Table [dbo].[SinhVien]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSinhVien] [nvarchar](50) NOT NULL,
	[HoSinhVien] [nvarchar](255) NOT NULL,
	[TenSinhVien] [nvarchar](255) NOT NULL,
	[NgaySinh] [nvarchar](50) NULL,
	[IdLop] [int] NOT NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_MaSinhVien] UNIQUE NONCLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SinhVien] ON
INSERT [dbo].[SinhVien] ([ID], [MaSinhVien], [HoSinhVien], [TenSinhVien], [NgaySinh], [IdLop]) VALUES (34502, N'2118759', N'Nguyễn Đình', N'Ước', N'29/07/96', 3348)
INSERT [dbo].[SinhVien] ([ID], [MaSinhVien], [HoSinhVien], [TenSinhVien], [NgaySinh], [IdLop]) VALUES (34503, N'244359', N'Bùi Văn', N'ánh', N'19/01/96', 3328)
INSERT [dbo].[SinhVien] ([ID], [MaSinhVien], [HoSinhVien], [TenSinhVien], [NgaySinh], [IdLop]) VALUES (34504, N'560459', N'Chu Duy', N'ánh', N'24/03/95', 3329)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
/****** Object:  Table [dbo].[XepPhong]    Script Date: 11/24/2014 11:08:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XepPhong](
	[IdSV] [int] NOT NULL,
	[IdPhong] [int] NOT NULL,
	[IdKyThi] [int] NOT NULL,
 CONSTRAINT [PK_XepPhong] PRIMARY KEY CLUSTERED 
(
	[IdSV] ASC,
	[IdPhong] ASC,
	[IdKyThi] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[XepPhong] ([IdSV], [IdPhong], [IdKyThi]) VALUES (34502, 3, 1)
INSERT [dbo].[XepPhong] ([IdSV], [IdPhong], [IdKyThi]) VALUES (34503, 3, 1)
INSERT [dbo].[XepPhong] ([IdSV], [IdPhong], [IdKyThi]) VALUES (34504, 3, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
/****** Object:  ForeignKey [FK_DapAn_KyThi]    Script Date: 11/24/2014 11:08:03 ******/
ALTER TABLE [dbo].[DapAn]  WITH CHECK ADD  CONSTRAINT [FK_DapAn_KyThi] FOREIGN KEY([IdKyThi])
REFERENCES [dbo].[Kythi] ([ID])
GO
ALTER TABLE [dbo].[DapAn] CHECK CONSTRAINT [FK_DapAn_KyThi]
GO
/****** Object:  ForeignKey [FK_KetQua_KyThi]    Script Date: 11/24/2014 11:08:03 ******/
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK_KetQua_KyThi] FOREIGN KEY([IdKyThi])
REFERENCES [dbo].[Kythi] ([ID])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK_KetQua_KyThi]
GO
/****** Object:  ForeignKey [FK_Lop_Khoa]    Script Date: 11/24/2014 11:08:03 ******/
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Khoa] FOREIGN KEY([IdKhoa])
REFERENCES [dbo].[Khoa] ([ID])
GO
ALTER TABLE [dbo].[Lop] CHECK CONSTRAINT [FK_Lop_Khoa]
GO
/****** Object:  ForeignKey [FK_SinhVien_Lop]    Script Date: 11/24/2014 11:08:03 ******/
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([IdLop])
REFERENCES [dbo].[Lop] ([ID])
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
/****** Object:  ForeignKey [FK_XepPhong_KyThi]    Script Date: 11/24/2014 11:08:03 ******/
ALTER TABLE [dbo].[XepPhong]  WITH CHECK ADD  CONSTRAINT [FK_XepPhong_KyThi] FOREIGN KEY([IdKyThi])
REFERENCES [dbo].[Kythi] ([ID])
GO
ALTER TABLE [dbo].[XepPhong] CHECK CONSTRAINT [FK_XepPhong_KyThi]
GO
/****** Object:  ForeignKey [FK_XepPhong_PhongThi]    Script Date: 11/24/2014 11:08:03 ******/
ALTER TABLE [dbo].[XepPhong]  WITH CHECK ADD  CONSTRAINT [FK_XepPhong_PhongThi] FOREIGN KEY([IdPhong])
REFERENCES [dbo].[PhongThi] ([ID])
GO
ALTER TABLE [dbo].[XepPhong] CHECK CONSTRAINT [FK_XepPhong_PhongThi]
GO
/****** Object:  ForeignKey [FK_XepPhong_SinhVien]    Script Date: 11/24/2014 11:08:03 ******/
ALTER TABLE [dbo].[XepPhong]  WITH CHECK ADD  CONSTRAINT [FK_XepPhong_SinhVien] FOREIGN KEY([IdSV])
REFERENCES [dbo].[SinhVien] ([ID])
GO
ALTER TABLE [dbo].[XepPhong] CHECK CONSTRAINT [FK_XepPhong_SinhVien]
GO
