@model List<FDI.Simple.NewsItem>

<div class="dv-box-title">
    <a href="#">Đọc nhiều</a>
    <span class="bg-box-title-dv"></span>
</div>
<div class="dv-box-main">
    <ul>
        @foreach (var item in Model)
        {
          <li>
            <div class="img-docnhieu">
                <a href="@item.TitleAscii">
                    <img src="@FDI.Utility.GetUrlPicture(item.PictureUrl)" title="" alt="" /></a>
            </div>
            <a href="@item.TitleAscii">@item.Title</a>
        </li>  
        }
    </ul>
</div>

