@model dynamic

<!DOCTYPE html>
<html class="js no-touch no-android no-chrome firefox no-iemobile no-ie no-ie10 no-ie11 no-ios" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-control" content="description" />
    <meta http-equiv="Cache-control" content="public">
    <meta name="revisit-after" content="1 days" />
    <meta name="keywords" content="@(Html.Raw(string.IsNullOrEmpty(ViewBag.Keywords) ? "FDI Company" : ViewBag.Keywords))" />
    <meta name="description" content="@(Html.Raw(string.IsNullOrEmpty(ViewBag.Description) ? "FDI Company" : ViewBag.Description))" />
    <title>@(Html.Raw(string.IsNullOrEmpty(ViewBag.Title) ? "FDI Company" : ViewBag.Title))</title>
    <link rel="icon" type="ico" href="~/Content/favicon.ico" />
    <meta name="Author" content=" ">
    <meta name="copyright" content="Copyright 2015">
    <meta name="Designer" content="">
    <link rel="alternate" type="application/rss+xml" title="… " href=" http://fdisoft.com/feed">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />


</head>
<body>
    <section id="sidebar-container">
        <article>
            @RenderBody()
        </article>
    </section>
</body>
</html>
