<connectionStrings>

  <add name="FDIEntities" connectionString="metadata=res://*/DataBase.csdl|res://*/DataBase.ssdl|res://*/DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.120;initial catalog=FDISoft.Com20150707;user id=sa;password=123fdi123@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="Data Source=192.168.0.120;Initial Catalog=FDISoft.Com20150707;Integrated Security=False;user id=sa;password=123fdi123@;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

</connectionStrings>