<!doctype html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <title>Task List</title>
    <link rel="stylesheet" href="/Content/Task-List/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Task-List/css/bootstrap.css" media="screen" />

    
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.20.min.js"></script>
    <script src="~/Content/Task-List/js/bootstrap.min.js"></script>
</head>
<body>
   @RenderBody()
</body>
</html>
