<div class="line line-dashed"></div>
<div class="m-t-sm m-b-lg">
	<a href="#" title="RSS" class="btn btn-rounded btn-warning btn-icon"><i class="fa fa-rss"></i></a>
	<a href="#" title="Twitter" class="btn btn-rounded btn-twitter btn-icon"><i class="fa fa-twitter"></i></a>
	<a href="#" title="Facebook" class="btn btn-rounded btn-facebook btn-icon"><i class="fa fa-facebook"></i></a>
	<a href="#" title="Google+" class="btn btn-rounded btn-gplus btn-icon"><i class="fa fa-google-plus"></i></a>
	<a href="#" title="LinkedIn" class="btn btn-rounded btn-info btn-icon"><i class="fa fa-linkedin"></i></a>
</div>
