@model IEnumerable<FDI.Simple.NewsItem>
<link href="/Content/Publishing/css/news.css" rel="stylesheet" />
<div class="product-box-list">
	<h4 class="title">Tin nổi bật</h4>
	<ul class="div-tinnoibat">
		@{
	    if  (Model != null && Model.Any())
	    {
	        foreach (var item in Model)
	        { 
	            <li>

                    <a class="images-list-box" href="/@item.TitleAscii" style="background-image: url('@FDI.Utility.GetUrlPicture(item.PictureUrl)')" title="@item.Title"></a>
	                <span class="news-text-box"><a href="/@item.TitleAscii">@item.Title</a> </span>
	            </li> 
	        }
	    }
		}
	</ul>
</div>
