@model IEnumerable<FDI.Base.aspnet_Users>
@{
    ViewBag.Title = ViewBag.ActionText + " User_Module";
    Layout = "~/Areas/Admin/Views/Shared/_Ajax.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $("#ModuleForm").validate({
           
            submitHandler: function () { //onSubmit
                $.post(urlPostAction2, $("#ModuleForm").serialize(), function (data) {
                    if (data.Erros)
                        createMessage("Đã có lỗi xảy ra", data.Message); // Tạo thông báo lỗi
                    else {
                        $("#dialog-form").dialog('close'); //Đóng form thêm mới - sửa
                        createCloseMessage("Thông báo", data.Message, '#Page=1&itemId=' + data.ID + '&message=' + data.Message + '&temp=' + Math.floor(Math.random() * 11) + ''); // Tạo thông báo khi click đóng thì chuyển đến url đích
                    }
                });
                return false;
            }
        });

        $("#close").click(function () {
            $("#dialog-form").html("").dialog('close');
        });
    });
</script>

<div id="Order">
    <form id="ModuleForm">
        <fieldset class="forms">
            <table class="tableforms" cellspacing="1" width="100%">
               <input type="hidden" name="ItemID" id="ItemID" value="@ViewBag.Id"/> 
                <tr>
                    <td><label>Tên User</label></td>
                    <td>
                        <select name="PrarentID" id="PrarentID">
                            @foreach (var item in Model)
                            { 
                                <option value="@item.UserId">@item.UserName</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                <td></td>
                <td>
                    <button id="userModule" type="submit" class="primaryAction">Xong</button>
                    <button id="close" type="button" class="primaryAction">Đóng lại</button>
                </td>
            </tr>
            </table>
        </fieldset>
    </form>
</div>