/*Left*/
p {font-size:11pt;color:#585757;}
h1, .h1, h2, .h2, h3, .h3 {color:#585757;}
.div-news-two {margin-top: 30px;border-bottom: 0px !important;}
.div-product-zero {background:#f7f7f7;border-bottom: 1px dashed #d9d9d9;padding: 30px 0;text-align:center;}
.div-product-zero h1 {color:#65bd77;margin:0px;}
.div-product-zero h3 {margin-top: 10px;color:#8a8a8a;margin-bottom: 0;line-height: 30px;}
.div-product-one {border-bottom: 1px dashed #d9d9d9;padding-bottom: 40px;}


.product-box-list {width:100%;}
.product-box-list ul { border-bottom: 1px dashed #d9d9d9; border-right: 1px dashed #d9d9d9;  float: left;width: 100%;}
.product-box-list li {border-top: 1px dashed #d9d9d9;float:left;width:100%;}
.product-box-list li a {line-height:33px;  font-size: 11pt;padding: 10px 0;  width: 100%;float: left;font-weight: bold;color: #585757;}
./*product-box-list li:hover a {color:white;background:#65bd77;}*/
.product-box-list .active {border-top:0px;}
.product-box-list .active a {color:#65bd77;}
.product-box-list .title {color: white;background: #65bd77;line-height: 30px;padding: 10px;margin-bottom: 0;padding-left: 20px;text-transform: uppercase;margin-top:0;}
.product-box-list .list-quantam li:first-child {border-top:0px;}
.product-box-list .list-quantam li:hover a {color:#65bd77;background:transparent;}
.product-box-list .list-quantam li a {font-size: 12pt;font-weight:normal;}
.list-text-ico li a:hover {/*color:white;background:#65bd77;background-repeat:no-repeat;background-position-y:-53px;background-position-x:5px;*/color: #65BD77;}
.list-text-ico li a {line-height:33px;  font-size: 11pt;padding: 10px 0;  width: 100%;float: left;font-weight: bold;color: #585757;  padding-left: 50px !important;background-repeat:no-repeat;background-position-x:5px;background-position-y:center;}
.product-box-list .active {}
.list-text-ico .active a {/*color: #fff;background-color: #65bd77;background-position-y: -53px;*/color: #65BD77 !important;
  background-color: transparent !important;}
/*icon*/
.tb-ico {width: 33px;height: 33px;margin-right:10px;float: left;margin-left: 5px;background:url(../Images/ico/icon-GTC.png)center top no-repeat;}
.product-box-list li:hover .tb-ico,.product-box-list .active .tb-ico {background:url(../Images/ico/icon-GTC-hover.png)center top no-repeat;}
.ico-ball,.product-box-list li:hover .ico-ball,.product-box-list .active .ico-ball {background-position: center 0px;}
.ico-eye,.product-box-list li:hover .ico-eye,.product-box-list .active .ico-eye {background-position: center -33px;}
.ico-bell,.product-box-list li:hover .ico-bell,.product-box-list .active .ico-bell {background-position: center -66px;}
.ico-flag,.product-box-list li:hover .ico-flag,.product-box-list .active .ico-flag {background-position: center -99px;}
.ico-chat,.product-box-list li:hover .ico-chat,.product-box-list .active .ico-chat {background-position: center -132px;}
.ico-people,.product-box-list li:hover .ico-people,.product-box-list .active .ico-people {background-position: center -165px;}
.ico-email,.product-box-list li:hover .ico-email,.product-box-list .active .ico-email {background-position: center -198px;}
.pr-number {background:url(../Images/ico/ico-number.png)center top no-repeat;width: 33px;height: 33px;margin-right:10px;float: left;margin-left: 5px;}
.ico-1 {background-position: center 0px;}
.ico-2 {background-position: center -33px;}
.ico-3 {background-position: center -66px;}
.ico-4 {background-position: center -99px;}
.ico-5 {background-position: center -132px;}
.ico-6 {background-position: center -165px;}
.ico-7 {background-position: center -198px;}
.ico-8 {background-position: center -231px;}
.list-quantam .fa-chevron-circle-right {color: #65bd77;margin-left: 5px;margin-right: 10px;font-size: 20px;}
/*right*/
.owl-theme .owl-controls {display:none !important;}
h2.text-center.title {margin-top: 0;margin-bottom: 20px;}