html 
{
    background-color: #fff;
}
body {
    font-family: Arial /*'Open Sans', sans-serif;*/;
    font-size: 14px;color:#4f4f4f;
}
ul, menu, dir 
{
  display: block;
  list-style-type: disc;
  -webkit-margin-before:0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start:0px;
  padding:0px;margin:0px;
}
li 
{
    list-style: none;
}
a {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    color:#4f4f4f;
}
a:hover {
  color: #ED1F26;
}
h1, h2, h3, h4 {
  color:#4f4f4f;
}
/*Nav*/
.navbar-brand img 
{
    margin-top: -5px;
    max-height: 40px;
}
.navbar-nav > li:first-child a 
{
    padding-bottom: 11px;
}
.navbar-nav li i 
{
    font-size: 20pt;
    margin-top: -5px;
}
.navbar-nav > .active 
{
    background: #65bd77;
    height: 50px;
}
.navbar-nav > .active a 
{
    color: white;
}
.navbar-nav > .active i 
{
    color: #fff;
}
.nav li 
{
    margin-right: 1px;
}
.navbar-nav > li > a 
{
    font-family: 'Open Sans', sans-serif;
}
.nav > li > a:hover,
.nav > li > a:focus 
{
    text-decoration: none;
    background-color: #65bd77;
    color: white;
}
.navbar.affix-top 
{
    padding: 5px 0;
    border-bottom: 5px solid #65bd77;
}
#content 
{
    padding-top: 65px;
}
/*Search-nav*/
#search-nav 
{
    float: right;
    margin-left: 5px;
}
#search-nav input 
{
    outline: none;
}
#search-nav input[type=search] 
{
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    /* background: #e9e9e9 url(../Images/nav-search.png) no-repeat 8px center; */
    border: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 40px;
    height: 48px;
    color: transparent;
    cursor: pointer;
}
#search-nav input::-webkit-search-decoration, #search-nav input::-webkit-search-cancel-button 
{
    display: none;
}
#search-nav input[type=search]:hover 
{
    background-color: #eee;
}
#search-nav input[type=search]:focus 
{
    background-color: #e5e5e5;
    border-color: #66CC75;
    width: 130px;
    padding-left: 50px;
    color: #000;
    cursor: auto;
}
#search-nav input:-moz-placeholder 
{
    color: transparent;
}
#search-nav input::-webkit-input-placeholder 
{
    color: transparent;
}
/*Main*/
.div-module-zero 
{
    background: #65bd77;
    padding: 30px 0;
}
.div-module-zero h2 
{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    line-height: 50px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.div-module-zero a 
{
    font-weight: 600;
    color: white;
}
.div-module-zero img 
{
    position: absolute;
    margin-left: -37px;
    margin-top: 30px;  display: none;
}
/*Footer*/
/*About*/
.FDI-about > .title, .FDI-ttcb > .title, .FDI-dvcct > .title, .FDI-ttlh > .title, .FDI-dknt > .title, .FDI-facebook > .title, .FDI-ketnoi > .title,.FDI-video-gt > .title 
{
    font-weight: 300;
    font-size: 25px;margin: 0;
    margin-bottom: 25px;
    color: #4f4f4f;
    font-family: 'Open Sans', sans-serif;
}
.FDI-video-ct {min-height:200px;width:100%;background:#4f4f4f}
.FDI-about-text {min-height:200px;}
.FDI-about-img 
{
    padding: 0px;
}
.FDI-about img 
{
    border: 3px solid #fff;
    min-height: 210px;
    width: 100%;
    margin-bottom: 20px;
}
.FDI-about-text p 
{
      font-size: 11pt;
  text-align: justify !important;
  line-height: 20px;
  color: #4f4f4f;
  margin-bottom: 5px;
}
.FDI-about-text .title, .FDI-add .title 
{
    margin-top: 0px;
    font-weight: bold;
    color: #4f4f4f;
}
.FDI-about-text .title a:hover, .FDI-add .title a:hover 
{
    color: #ed1d24;
}
.FDI-ttcb ul, .FDI-dvcct ul 
{
    -webkit-padding-start: 0px;
}
.FDI-ttcb ul li, .FDI-dvcct ul li 
{
    list-style: none;
    padding-bottom: 10px;
}
.FDI-ttcb ul li a, .FDI-dvcct ul li a 
{
    font-size: 11pt;
}
.FDI-ttcb ul li a:hover, .FDI-dvcct ul li a:hover 
{
    color: #ed1d24;
}
.FDI-ttcb ul li .fa-check:before, .FDI-dvcct ul li .fa-check:before {
    font-size: 13px;
    padding-right: 10px;
}
.div-module-five {padding: 30px 0;}
.div-module-six 
{
    padding: 30px 0;
    background: url(../Images/muitenhong.png) center 95px no-repeat #f7f7f7;
    border-top: 1px dashed #d9d9d9;
}
#footer 
{
    float: left;
    width: 100%;
}
/*tag*/
.div-module-tag {background:#fdfdfd;border-top:1px dashed #d9d9d9;width:100%;padding:15px 0 10px;
}
.div-module-tag ul {float: left;}
.div-module-tag ul li {background: url(/Content/Publishing/images/ico/icon_tags.png) no-repeat center right;display: list-item; opacity: 1;float:left; margin-bottom: 7px;}
.div-module-tag ul li a {
  font-size: 13px;
  color: #919191;
  display: block;
  float: left;
  margin-right: 20px;
  line-height: 16px;
}
.div-module-tag ul li a:hover {color: #23A84C;}
/*end tag*/
.FDI-map iframe 
{
    width: 100%;
    height: 270px; 
    border: 0;
}
#googleMap {
    width: 100%;
    height: 270px;
    border: 0;}
.FDI-map a 
{
    border: 2px solid #fff;
    float: left;
    width: 100%;
}
.FDI-add 
{
    color: #4f4f4f;
    font-size: 11pt;
}
.FDI-add li i 
{
    color: #ed1d24;
    font-size: 17px;
    padding-right: 5px;
}
.FDI-add li 
{
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 5px;
    font-size: 11pt;
    color: #4f4f4f;
}
.FDI-add li a {
    font-weight: 400;
    padding-left: 5px;
}
.FDI-wcs 
{
    border: 1px solid #dfdfdf;
    padding: 10px;
    background: #fff;
    color: #b3b3b3;
}
.FDI-dknt .input-group-btn 
{
    display: inherit;
    margin-top: 10px;
    float: left;
}
.FDI-dknt > p 
{
    color: #65bd77;
    font-weight: 400;
    font-size: 14px;
}
.FDI-about-text .title a {
  line-height: 25px;
}
.FDI-dknt .input-group-btn button 
{
    border-radius: 0;
    background: #65bd77;
    margin-left: 0 !important;
    border: none;
    font-weight: 600;
    padding: 10px 20px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.FDI-dknt .input-group-btn button:hover 
{
    background: #ed1d24;
}
.FDI-ketnoi 
{
    border-top: 1px solid #ddd;
    margin-top: 25px;
}
.FDI-ketnoi li 
{
    float: left;
    width: 20%;
}
.FDI-copyright 
{
    background: #65bd77;
    padding: 15px 0;
}
.FDI-copyright > p 
{
    color: #fff;
    font-weight: 300;
    margin: 0;
}
.FDI-copyright > p > a 
{
    color: #fff;
    font-weight: 600;
}
.FDI-uptop 
{
    position: fixed;
    bottom: 40px;
    right: 10px;
    width: 35px;
    height: 35px;
}
.FDI-uptop img 
{
    width: 100%;
}
.img-max {width:100% !important;}
.product-quangcao {float: left;width: 100%;margin-bottom: 15px;}
.product-box-list {float: left;margin-bottom: 10px;}
@media (max-width:765px) 
{
    .nav li:last-child 
    {
        width: 100%;
        float: left;
        background: #e9e9e9;
    }
    #search-nav 
    {
        float: left;
        margin-left: 0;
        width: 100%;
    }
    #search-nav input[type=search]:focus 
    {
        width: 78% !important;
        padding-left: 45px;
        background-color: #e9e9e9;
    }
    #search-nav input[type=search] 
    {
        width: 89%;
    }
    .FDI-ketnoi 
    {
        border-top: 1px solid #ddd;
        margin-top: 25px;
        float: left;
        width: 100%;
        margin-bottom: 25px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 25px;
    }
}

@media (max-width:768px) 
{
    .navbar-brand img 
    {
        max-height: 37px;
        margin-top: 0;
    }
    .FDI-video-gt {
  margin-bottom: 35px;
}
}

@media (max-width:400px) 
{
    .FDI-product .col-xs-6 
    {
        width: 100%;
    }
}

@media (min-width:970px) 
{
    .FDI-map 
    {
        padding-right: 0;
    }
}

@media (max-width:991px) 
{
    .FDI-map 
    {
        margin-bottom: 20px;
    }
    .FDI-ttcb > .title, .FDI-dvcct > .title, .FDI-dknt > .title, .FDI-facebook > .title, .FDI-ketnoi > .title {margin-top: 25px;}
}

@media (min-width: 1200px) 
{
    .container 
    {
        width: 1200px;
    }
}

@media (min-width:1200px) and (max-width:1700px;) 
{
    a 
    {
        font-size: 11pt;
    }
    .container 
    {
        width: 1290px;
    }
}

@media only screen and (min-width: 1700px) 
{
    .container 
    {
        width: 1400px;
    }
}
.tag{
  margin-top:10px;
}
.tag li {
  /* float: left; */
  /* padding-right: 10px; */
  background: none repeat scroll 0 0 #CDE69C;    border: 1px solid #A5D24A;    border-radius: 3px 3px 3px 3px;    color: #638421;    float: left;    font-size: 13px;    margin-bottom: 5px;    margin-right: 5px;    padding: 6px 5px 5px 5px;    text-decoration: none;    vertical-align: middle;    line-height: 18px;    
  /* height: 18px; */    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.newtag a {
  text-decoration: none;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0px 10px;
  margin-bottom: 3px;
  border-radius: 4px;
  color: rgb(102, 102, 102);
  background-color: rgb(226, 207, 207);
  white-space: nowrap;
}