@{
    ViewBag.Title = "PopupAdv";
    <script defer src="/Content/Publishing/js/popup.js?v=2105"></script>@*
    <link href="/Content/Publishing/css/PopupAdv.css?v=2105" rel="stylesheet" />*@
}

<div style="height: 342px;" id="fl813691">
    <div id="eb951855">
        <div id="cob263512">
            <div id="coh963846">
                <ul id="coc67178">
                    <li id="pf204652hide"><a class="min" href="javascript:pf204652clickhide();" title="&#7848;n c&#7917;a s&#7893;">&#7848;n c&#7917;a s&#7893;</a></li>
                    <li id="pf204652show" style="display: none;"><a class="max" href="javascript:pf204652clickshow();" title="Hi&#7879;n c&#7917;a s&#7893;">Hi&#7879;n c&#7917;a s&#7893;</a></li>
                    <li id="pf204652close"><a class="close" href="javascript:pf204652clickclose();" title="T&#7855;t c&#7911;a s&#7893;">T&#7855;t c&#7911;a s&#7893;</a></li>
                </ul>
                <b></b>
            </div>
            <div id="co453569">
                @Html.Action("ModulHTML", "Home", new { key = "PopupAdv" })
            </div>
        </div>
    </div>
</div>
