@{
    Layout = null;
}

<div class='post-share'>
    <div class="fb-share-button" data-href="@ViewBag.url" data-layout="button_count"></div>
    <div class="g-plus" data-action="share" data-annotation="bubble" data-href="@ViewBag.url"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="@ViewBag.url" data-dnt="true">Tweet</a>
</div>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=754889707936606";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
    <script>
        FB.XFBML.parse();
</script>
    <script src="https://apis.google.com/js/platform.js?v=2105" async defer>
        
        {lang: 'vi'}
    </script>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>

