.div-product-zero {background:#f7f7f7;border-bottom: 1px dashed #d9d9d9;padding: 20px 0;text-align:center;}
.div-product-zero h1 {color:#65bd77;margin:0px;}
.div-product-zero h3 {margin-top: 10px;color:#8a8a8a;margin-bottom: 0;line-height: 30px;}
.div-product-two {margin:30px 0 50px;}
.div-product-three {background:#f7f7f7;border-bottom: 1px dashed #d9d9d9;border-top: 1px dashed #d9d9d9;padding: 40px 0 20px;margin: 20px 0;}
.div-product-three .title {margin-top: 0;margin-bottom: 40px;font-size: 28px;}
.chuyenvien {text-align:center;margin-bottom: 20px;}
.chuyenvien .avatar {}
.chuyenvien .avatar img {width: 89px;height: 89px;}
.chuyenvien .name {color: #2194d2;font-size: 13px;text-transform: uppercase;padding: 8px 0 0;font-style: italic;}
.chuyenvien .position {color: #515151;font-size: 13px;padding: 4px 0 8px;}
.chuyenvien .position span {color: #2194d2;}
.chuyenvien .position span i {color: #04AEDA;}
.chuyenvien .nick .skype {margin-right: 5px;}
.chuyenvien .nick .yahoo {margin-left: 5px;}

.mosaic-block {position:relative;overflow:hidden;width:100%;height:180px;margin-bottom: 20px;}
.mosaic-backdrop {display:none;position:absolute;top:0;height:100%;width:100%;background:#65BD77;padding:10px;color:#fff !important;}
.mosaic-overlay {display:none;text-align: center;z-index:5;position:absolute;width:100%;height:100%;padding: 40px 0;background: #fff;border: 1px solid #ccc;}
.mosaic-overlay img {max-width: 100%;
  height: auto;}	
		
