.ttht-text .ttht-mail {}
/*Left*/
.div-product-zero {background:#f7f7f7;border-bottom: 1px dashed #d9d9d9;padding: 10px 0;text-align:center;margin-bottom:30px;}
.div-product-zero h1 {color:#65bd77;margin:0px;}
.div-product-zero h3 {margin-top: 10px;color:#8a8a8a;margin-bottom: 0;line-height: 30px;}
.div-product-one {border-bottom: 1px dashed #d9d9d9;padding-bottom: 40px;}
.hotro-top .ttht-text {float: left;}
.hotro-top .ttht-button {float: right;margin-top: 5px;  margin-top: 15px;margin-bottom: -5px;}
.hotro-top .ttht-button a {  background: #65BD77;color: #fff;padding: 10px;float:right;}
.div-product-one .col-sm-7 input::-webkit-input-placeholder {color:#c0c0c0;}
.hotro-top h3 {margin-top:0px;}
.hotro-top {border: 1px dashed;margin-top:20px;padding:10px 20px;float: left;width: 100%;  padding-bottom: 30px;}
.ttht-text p {margin:0px;  font-size: 11pt;width: 100%;float: left;text-align: left;}
.ttht-text span {color:#d30007;font-weight:bold;}
.ttht-text a {color:#65bd77;left: 0;margin-left: 80px;position: absolute;}
.div-product-one .col-sm-7 .form-control {height: 46px;font-size: 18px;box-shadow: none;border-radius: 0;}
.div-product-one .col-sm-7 .btn {padding: 12px 12px;border-radius: 0;}
.div-product-one .col-sm-7 h3 {margin-bottom:20px;}


.product-box-list {float: left;width:100%;}
.product-box-list ul { border-bottom: 1px dashed #d9d9d9; border-right: 1px dashed #d9d9d9;  float: left;width: 100%;}
.product-box-list li {border-top: 1px dashed #d9d9d9;float:left;width:100%;}
.product-box-list li a {line-height:33px;  font-size: 11pt;padding: 10px 0;  width: 100%;float: left;font-weight: bold;color: #585757;}
.list-text-ico li a:hover {/*color:white;background:#65bd77;background-repeat:no-repeat;background-position-y:-53px;background-position-x:5px;*/color: #65BD77;}
.list-text-ico li a {line-height:20px;padding: 15px 0;  width: 100%;float: left;font-weight: bold;color: #585757;  padding-left: 50px !important;background-repeat:no-repeat;background-position-x:5px;background-position-y:0;  padding-right: 5px;}
./*list-text-ico li:hover a {
  background-position-y: -50px;
}*/
.product-box-list .active {}
.list-text-ico .active a {/*color: #fff;background-color: #65bd77;background-position-y: -53px;*/color: #65BD77 !important;
  background-color: transparent !important;}
.product-box-list .title {color: white;background: #65bd77;line-height: 30px;padding: 10px;margin-bottom: 0;padding-left: 20px;text-transform: uppercase;margin-top: 0;}
.product-box-list .list-quantam li:first-child {border-top:0px;}
.product-box-list .list-quantam li:hover a {color:#65bd77;background:transparent;}
.product-box-list .list-quantam li a {font-size: 12pt;font-weight:normal;}


#dichvu-owl-demo {margin-bottom: 20px;float: left;}
/*icon*/
.pr-ico {width: 33px;height: 33px;margin-right:10px;float: left;margin-left: 5px;background:url(../Images/ico/ico-tinhnang.png)center top no-repeat;}
.product-box-list li:hover .pr-ico,.product-box-list .active .pr-ico {background:url(../Images/ico/ico-tinhnang-hover.png)center top no-repeat;}
.ico-star,.product-box-list li:hover .ico-star,.product-box-list .active .ico-star {background-position: center 0px;}
.ico-setting,.product-box-list li:hover .ico-setting,.product-box-list .active .ico-setting {background-position: center -33px;}
.ico-images,.product-box-list li:hover .ico-images,.product-box-list .active .ico-images {background-position: center -66px;}
.ico-cart,.product-box-list li:hover .ico-cart,.product-box-list .active .ico-cart {background-position: center -99px;}
.ico-file,.product-box-list li:hover .ico-file,.product-box-list .active .ico-file {background-position: center -132px;}
.ico-mobile,.product-box-list li:hover .ico-mobile,.product-box-list .active .ico-mobile {background-position: center -165px;}
.ico-seo,.product-box-list li:hover .ico-seo,.product-box-list .active .ico-seo {background-position: center -198px;}
.ico-volume,.product-box-list li:hover .ico-volume,.product-box-list .active .ico-volume {background-position: center -231px;}
.ico-security,.product-box-list li:hover .ico-security,.product-box-list .active .ico-security {background-position: center -264px;}
.pr-number {background:url(../Images/ico/ico-number.png)center top no-repeat;width: 33px;height: 33px;margin-right:10px;float: left;margin-left: 5px;}
.ico-1 {background-position: center 0px;}
.ico-2 {background-position: center -33px;}
.ico-3 {background-position: center -66px;}
.ico-4 {background-position: center -99px;}
.ico-5 {background-position: center -132px;}
.ico-6 {background-position: center -165px;}
.ico-7 {background-position: center -198px;}
.ico-8 {background-position: center -231px;}
.list-quantam .fa-chevron-circle-right {color: #65bd77;margin-left: 5px;margin-right: 10px;font-size: 20px;}
/*Right*/
.slider-product > .item > img {display: block;max-width: 100%;height: auto;}
.owl-theme .owl-controls {margin-top:0px;}
.owl-theme .owl-controls {display: none !important;}
.product-box-more {background:url(../Images/seo-master-bg-line.png)center top no-repeat;padding:30px;  float: left;width: 100%;}
.modul-detting-detail {background: url(../Images/seo-master-bg-line.png) center top no-repeat;float: left;width: 100%;padding: 20px 0;  font-size: 11pt;}
.modul-detting-detail h3 {color: #333333;font-size: 20px;margin: 0;margin: 10px 0px;}
.modul-detting-detail ul {margin: 0;padding: 0;}
.modul-left,.modul-left img  {float:left;text-align:left;}
.modul-right,.modul-right img {float:right;text-align:right;}
.modul-left img,.modul-right img {padding:20px;}
.modul-detting-detail li {margin-bottom: 15px;list-style: none;}
.modul-detting-detail li:first-of-type {margin-top: 15px;}
.modul-text {width:60%;float:left;}
.modul-images {width:40%;float:left;}
.modul-detting-detail li i {margin-right:10px;}
.div-modul ul {float:left;width:45%;margin-left:5%;text-align:left;}
.div-product-three {background:#f7f7f7;border-top: 1px dashed #d9d9d9;padding: 40px 0 20px;margin-top: 20px;}
.div-product-three .title {margin-top: 0;margin-bottom: 40px;font-size: 28px;}
.chuyenvien {text-align:center;margin-bottom: 20px;}
.chuyenvien .avatar {}
.chuyenvien .avatar img {width: 89px;height: 89px;border-radius:50%;}
.chuyenvien .name {color: #ed1d24;font-size: 13px;text-transform: uppercase;padding: 8px 0 0;font-weight: bold;}
.chuyenvien .position {color: #515151;font-size: 13px;padding: 4px 0 8px;}
.chuyenvien .position span {color: #2194d2;}
.chuyenvien .position span i {color: #04AEDA;}
.chuyenvien .nick .skype {margin-right: 5px;}
.chuyenvien .nick .yahoo {margin-left: 5px;}
@media (max-width:410px) 
{
.hotro-top .ttht-button {
  float: right;
  margin-top: 5px;
  margin-top: 30px;
  margin-bottom: -15px;
  float: left;
  margin-left: 44px;
}
}
@media (max-width:500px) {
    .modul-left {margin-bottom:20px;}
    .modul-text {width:100%;}
    .modul-images {width:100%;/*display:none;*/}
}
@media (min-width:768px) and (max-width:991px) 
{
.hotro-top .ttht-button {
  float: right;
  margin-top: 5px;
  margin-top: 25px;
  margin-bottom: -15px;
  float: left;
  margin-left: 45px;
}
}


@media (min-width:992px) and (max-width:1200px) 
{
.hotro-top .ttht-button {
  float: left;
  margin-top: 5px;
  margin-top: 25px;
  margin-left: 45px;
  margin-bottom: -5px;
}
}










