@model FDI.Simple.NewsCategoryItem
@{
    Layout = null;
  
}
@{
    var list = Model.ListNewsItem.Where(c => c.IsHot == true).Take(8).ToList();
}

<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="owl-item">
        <div class="lazyOwl">
            @if (Model != null)
            {
                foreach (var item in list)
                {
                <a class="images-ktcs" href="/@item.TitleAscii" style="background-image: url('@FDI.Utility.GetUrlPicture(item.PictureUrl)')" title=""></a>
                <a href="/@item.TitleAscii">@item.Title</a>
                <p>@item.PriceAfterDown</p>
                }
            }
        </div>
    </div>
</div>
