/* HEADER and FOTTER */
.navbar .nav .active i{color:#21a74a;}
.navbar .nav > li:hover {background:#21a74a}
.nav > li > a:hover,.nav > li > a:focus {background-color: #21a74a;color: white;}
.widget-dropdown .widget-html .widget-inner ul li:hover{background:#21a74a}
.navbar .nav li.dropdown > .dropdown-toggle:hover,.navbar .nav li.dropdown.open > .dropdown-toggle:hover {background-color: #21a74a;}
.navbar.affix-top {border-bottom: 5px solid #21a74a;}
header#header .topmenu-responsive {background: #21a74a;}
.sidebar-menu {background: #21a74a;}
#cssmenu > ul > li > a,.div-search-mobile {border-bottom: 1px solid #18883A;}
#cssmenu > ul > li > a:hover,#cssmenu > ul > li.active > a,#cssmenu > ul > li.open > a{color:#fff;background:#15933c;}
#cssmenu ul ul li ul li > a:hover{background:#21a74a;}
.FDI-dknt > p {color: #21a74a;}
.FDI-dknt .input-group-btn button {background:#21a74a;}
.FDI-copyright {background:#21a74a;}
.div-module-six {background: transparent;}
.FT-muitencong {  position: absolute;left: -10px;top: 65px;}
.mega-menu {border-bottom: 5px solid #21a74a;}
/*module one*/
.dv-module-one {background:#162230;padding: 25px 0 15px;}
.dv-module-one h3 {font-size: 30px;font-weight: bold;color: #b2e3c1;}
.dv-module-one h4 {font-size: 18px;color: #8b99a9;}
/*module two*/
.dv-module-two {padding-top: 45px;}
.dv-module-two h2 {margin-bottom: 30px;font-size: 35px;color:#303030;}
.tkw-box-title {position: inherit;}
.tkw-box-title-img {width: 75px;height: 75px;margin: 0 auto;border-radius: 50%;border: 5px solid #fff;}
.tkw-box-main {padding-top: 50px;padding-left: 15px;padding-right: 15px;height: 166px;margin-top: -39px;padding-bottom: 10px;overflow: hidden;margin-bottom: 15px;}
.tkw-box-main a {  font-size: 18px;text-transform: uppercase;color: white;font-weight: 700;font-family: 'Open Sans', sans-serif;}
.tkw-box-main p {margin-top:3px;height: 78px;overflow: hidden;}
.color-brown {background:#9a4822;}
.color-brown img {padding-top:10px;}
.color-brown p {color: #e0b29c;}
.color-purple {background:#8b4999;}
.color-purple img {padding-top:10px;}
.color-purple p {color:#d9afe2;}
.color-blue {background:#3186b9;}
.color-blue img {padding-top:8px;}
.color-blue p {color: #b7dcf3;}
.color-green {background:#21a74a;}
.color-green img {padding-top:10px;}
.color-green p {color:#baf0cb;}
.color-red {background:#db3737;}
.color-red img {padding-top:13px;}
.color-red p {color: #f8c9c9;}
.color-turquoise {background:#1c8e92;}
.color-turquoise img {padding-top:13px;}
.color-turquoise p {color: #bdf0f2;}
.color-pink {background:#c41483;}
.color-pink img {padding-top:17px;}
.color-pink p {color: #ffcbec;}
.color-orange {background:#ee7b22;}
.color-orange img {padding-top:12px;}
.color-orange p {color: #ffdfc6;}
/*module three*/
.dv-module-three {background:url(../Images/bg-module4.jpg)center top no-repeat #162230;margin-top: 30px;width:100%;min-height:300px;margin-bottom: 40px;}
.dv-mdthree-text {}
.dv-mdthree-text h3,.dv-mdthree-text p {color:white;  text-align: right;}
.dv-mdthree-text h3 {font-size: 48px;text-transform: uppercase;font-weight: bold;padding-top: 60px;}
.dv-mdthree-text p {font-size: 18px;}
.dv-mdthree-text img {  float: right;margin-top: 55px;}
/*module four*/
.dv-module-four h2 {font-size: 35px;color:#303030;margin-bottom: 5px;}
.dv-module-four h5 {font-size:18px;color:#7d7d7d;font-weight:normal;  margin-bottom: 90px;}
.box-quytrinh {width: 100%;  min-height: 165px;float: left;margin-bottom: 150px;}
.tkw-quytrinh-img  {  width: 32%;float: left;text-align: center;}
.left .tkw-quytrinh-img  {margin-right:2%;}
.right .tkw-quytrinh-img  {margin-left:2%;}
.tkw-quytrinh-img img {max-width: 100%;height: auto;}
.tkw-quytrinh-text {float:left;width: 66%;}
.right .tkw-quytrinh-text {text-align:right;}
.tkw-quytrinh-text h3 {font-size:30px;color:#303030;margin-top: 20px;}
.tkw-quytrinh-text p {color:#6b6b6b;}
.quytrinh-ar1,.quytrinh-ar2,.quytrinh-ar3,.quytrinh-ar4 {margin-bottom:5px;margin-top: -30px;}
.quytrinh-ar2 {margin-left:16%;}
.quytrinh-ar3 {margin-left: 15%;}
.quytrinh-ar4 {margin-left: 73.999%;margin-top: 125px;}
.quytrinh-ar1 img, .quytrinh-ar2 img, .quytrinh-ar3 img, .quytrinh-ar4 img {max-width: 100%;}
.col-sm-offset-5 .box-quytrinh {margin-bottom: 0px;}
.quytrinh-arrow {width: 100%;float: left;margin-top: -430px;}
/*module five*/
.dv-module-five {background:url(../Images/bg-video-tkw.jpg)center top no-repeat #aeb4bb;width:100%;min-height:349px;margin-top:40px;}
.dvmd-five-text {text-align:right;}
.dvmd-five-text h1 {  margin-top: 30px;font-family: "Open Sans";text-transform: uppercase;font-weight: 900;color: white;font-size: 45px;text-shadow: 0px 1px 1px #000;}
.dvmd-five-text h5 {font-family: "Open Sans";font-weight: 400;color: white;font-size: 22px;text-shadow: 0px 1px 1px #000;}
.dvmd-five-video iframe {width: 100%;margin-top: 35px;}
/*module six*/
.dv-module-six {padding: 60px 0 0px;}
.dv-module-six h2 {font-size: 35px;color: #303030;margin-bottom: 5px;}
.dv-module-six h5 {font-size: 18px;color: #7d7d7d;font-weight: normal;margin-bottom: 45px;}
.FDI-title-center {margin-top: 0px;font-weight: 300;font-size: 43px;padding-bottom: 35px;  font-family: 'Open Sans', sans-serif;color: #4f4f4f;}
.FDI-product {text-align: center;float: left;width: 100%;}
.product-img {width:100%;}
.FDI-product .view {border: 1px solid #e1e1e1;overflow: hidden;position: relative;text-align: center;margin-bottom: 30px;background: #fff;padding: 7px;}
.FDI-product .view .mask,.FDI-product .view .content {width:100%;height:100%;position: absolute;overflow: hidden;top: 0;left: 0;}
.FDI-product .view .mask {background-color: rgba(0,0,0,0.6);-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity: 0;-webkit-transform: translate(460px, -100px) rotate(180deg);-moz-transform: translate(460px, -100px) rotate(180deg);-o-transform: translate(460px, -100px) rotate(180deg);-ms-transform: translate(460px, -100px) rotate(180deg);transform: translate(460px, -100px) rotate(180deg);-webkit-transition: all 0.2s 0.4s ease-in-out;-moz-transition: all 0.2s 0.4s ease-in-out;-o-transition: all 0.2s 0.4s ease-in-out;-ms-transition: all 0.2s 0.4s ease-in-out;transition: all 0.2s 0.4s ease-in-out;}
.FDI-product .view:hover .mask {-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);opacity: 1;-webkit-transition-delay: 0s;-moz-transition-delay: 0s;-o-transition-delay: 0s;-ms-transition-delay: 0s;transition-delay: 0s;-webkit-transform: translate(0px, 0px);-moz-transform: translate(0px, 0px);-o-transform: translate(0px, 0px);-ms-transform: translate(0px, 0px);transform: translate(0px, 0px);}
.FDI-product .view img {display: block;position: relative;-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
.FDI-product .view h2 {text-transform: uppercase;color: #fff;text-align: center;position: relative;font-size: 17px;padding: 10px;margin-top:23%;-webkit-transform: translateY(-100px);-moz-transform: translateY(-100px);-o-transform: translateY(-100px);-ms-transform: translateY(-100px);transform: translateY(-100px);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.FDI-product .view:hover h2 {-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-o-transform: translateY(0px);-ms-transform: translateY(0px);transform: translateY(0px);-webkit-transition-delay: 0.5s;-moz-transition-delay: 0.5s;-o-transition-delay: 0.5s;-ms-transition-delay: 0.5s;transition-delay: 0.5s;}
.FDI-product .view p {font-style: italic;font-size: 12px;position: relative;color: #fff;padding: 10px 20px 20px;text-align: center;-webkit-transform: translateX(300px) rotate(90deg);-moz-transform: translateX(300px) rotate(90deg);-o-transform: translateX(300px) rotate(90deg);-ms-transform: translateX(300px) rotate(90deg);transform: translateX(300px) rotate(90deg);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;}
.FDI-product .view:hover p {-webkit-transform: translateX(0px) rotate(0deg);-moz-transform: translateX(0px) rotate(0deg);-o-transform: translateX(0px) rotate(0deg);-ms-transform: translateX(0px) rotate(0deg);transform: translateX(0px) rotate(0deg);-webkit-transition-delay: 0.4s;-moz-transition-delay: 0.4s;-o-transition-delay: 0.4s;-ms-transition-delay: 0.4s;transition-delay: 0.4s;}
.FDI-product .view a.info {display: inline-block;text-decoration: none;padding: 7px 14px;color: #fff;-webkit-transform: translateY(-200px);-moz-transform: translateY(-200px);-o-transform: translateY(-200px);-ms-transform: translateY(-200px);transform: translateY(-200px);-webkit-transition: all 0.2s ease-in-out;-moz-transition: all 0.2s ease-in-out;-o-transition: all 0.2s ease-in-out;-ms-transition: all 0.2s ease-in-out;transition: all 0.2s ease-in-out;margin: 0 10px;margin-top:10%;}
.product-more {background:#65BD77;}
.product-zoom {background:#25ADE5;}
.product-more:hover,.product-zoom:hover {background:#EE2229;}
.FDI-product .view:hover a.info {-webkit-transform: translateY(0px);-moz-transform: translateY(0px);-o-transform: translateY(0px);-ms-transform: translateY(0px);transform: translateY(0px);-webkit-transition-delay: 0.3s;-moz-transition-delay: 0.3s;-o-transition-delay: 0.3s;-ms-transition-delay: 0.3s;transition-delay: 0.3s;}
.customNavigation {text-align: center;}
.fancybox-close {background-image: url('../Images/circle-close.png');}
.fancybox-close {top: -10px;right: -10px;width: 30px;height: 30px;}
/* Button 1e */
.btn-1e {background: none;cursor: pointer;padding: 12px 45px;display: inline-block;letter-spacing: 1px;outline: none;position: relative;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;overflow: hidden;border: 2px solid #65bd77;color: #65bd77;font-size: 12pt;}
.btn-1e:after {content: '';position: absolute;z-index: -1;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;width: 100%;height: 0;top: 50%;left: 50%;background: #65bd77;opacity: 0;-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);transform: translateX(-50%) translateY(-50%) rotate(45deg);}
.btn-1e:hover,.btn-1e:active {color: #fff;}
.btn-1e:hover:after {height: 260%;opacity: 1;}
.btn-1e:active:after {height: 400%;opacity: 1;}
/*modul support*/
.div-product-three {background:#f7f7f7;border-top: 1px dashed #d9d9d9;padding: 40px 0 20px;margin-top: 20px;border-bottom: 1px dashed #d9d9d9;}
.div-product-three .title {margin-top: 0;margin-bottom: 40px;font-size: 28px;}
.chuyenvien {text-align:center;margin-bottom: 20px;}
.chuyenvien .avatar {}
.chuyenvien .avatar img {width: 89px;height: 89px;}
.chuyenvien .name {color: #ed1d24;font-size: 13px;text-transform: uppercase;padding: 8px 0 0;font-weight: bold;}
.chuyenvien .position {color: #515151;font-size: 13px;padding: 4px 0 8px;}
.chuyenvien .position span {color: #2194d2;}
.chuyenvien .position span i {color: #04AEDA;}
.chuyenvien .nick .skype {margin-right: 5px;}
.chuyenvien .nick .yahoo {margin-left: 5px;}
@media (max-width:767px)
{
    .quytrinh-ar1, .quytrinh-ar2, .quytrinh-ar3, .quytrinh-ar4 {display: none;}
    .box-quytrinh {margin-bottom: 15px;}
    .dvmd-five-text {text-align: center;}
    .dv-module-five {background-color: transparent;}
    .dv-module-six h2,.dv-module-four h2,.dv-module-two h2 {font-size: 32px;}
    .FT-muitencong {display:none;}
}
@media (max-width:992px)
{
    .dv-mdthree-text img {display:none;}
    .dv-module-four h5 {margin-bottom: 50px;}
}
@media (max-width:499px)
{
    .dvmd-five-text h1 {font-size: 30px;}
    .dv-mdthree-text h3 {font-size: 36px;}
}
@media (min-width:768px) and (max-width:992px)
{
    .tkw-quytrinh-text {width: 65%;}
    .tkw-quytrinh-img {width: 30%;}
    .right .tkw-quytrinh-img {margin-left: 5%;}
    .left .tkw-quytrinh-img {margin-right: 5%;}
    .tkw-quytrinh-img img {margin-top: 15px;}
    .dv-module-four .col-sm-5 {min-height: 265px;}
    .quytrinh-ar1, .quytrinh-ar2, .quytrinh-ar3, .quytrinh-ar4 {margin-top: -20px;}
    .quytrinh-ar3 {margin-left: 15%;}
    .quytrinh-ar2 {margin-left: 14%;}
    .quytrinh-ar4 {  margin-left: 71%;margin-top:52px;}
    .box-quytrinh {min-height: 255px;margin-bottom: 85px;}
    .quytrinh-arrow {margin-top: -405px;}
    .dv-module-four .col-sm-offset-5 {margin-top: -30px;}
    .dvmd-five-text h1 {font-size: 38px;}
    .dv-module-six h2,.dv-module-four h2,.dv-module-two h2 {font-size: 32px;}
    .div-product-three .title {font-size: 26px;}
}
@media (min-width:992px) and (max-width:1199px)
{
    .dv-module-four .col-sm-5 {min-height: 260px;}
    .tkw-quytrinh-img {width: 37%;}
    .left .tkw-quytrinh-img {margin-right: 5%;}
    .tkw-quytrinh-text {width: 58%;}
    .right .tkw-quytrinh-img {margin-left: 5%;}
    .quytrinh-ar1 {margin-left:10%;}
    .quytrinh-ar2 {margin-left: 13%;  margin-top: -70px;}
    .quytrinh-ar1, .quytrinh-ar2, .quytrinh-ar3, .quytrinh-ar4 {margin-top: -60px;}
    .quytrinh-ar3 {margin-left: 11%;}
    .quytrinh-ar4 {margin-top: 60px;margin-left: 68%;}
    .tkw-quytrinh-img img {margin-top: 40px;}
    .quytrinh-arrow {margin-top: -440px;}
    .dv-module-four .col-sm-offset-5{margin-top: -60px;}
    .box-quytrinh { min-height: 255px;margin-bottom: 120px;}
}
@media (min-width:1200px) and (max-width:1700px)
{
    .quytrinh-arrow {margin-top: -465px;}
    .quytrinh-ar4 {margin-left: 72%;margin-top: 135px;}
}