@model FDI.Simple.SystemConfigItem
<div class="col-sm-6 col-md-3 wow bounceInUp" data-wow-duration="2s">
    <div class=" FDI-dknt">
        <h3 class="title">Đăng ký nhận tin</h3>
        <p>Nhập Email để đăng ký nhận khuyến mãi từ FDI</p>
        <form action="#">
            <div class="input-group">
                <input type="text" id="registerInfo" placeholder="Nhập email của bạn" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary register" type="submit">Đăng ký ngay</button></span>
            </div>
        </form>
    </div>
    @Html.Action("ModulHTML","Home",new {key = "LienHe"})
</div>

<script type="text/javascript">
    function checkPhone(number) {
        var phoneno = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
        if (number.match(phoneno)) return true;
        else return false;
    }

    function validateEmail(email) {
        var reg = /^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
        if (reg.test(email)){
            return true; }
        else{
            return false;
        }
    }

    function checkEmail(str) {
        return str.length > 5 && str.indexOf('@@') > 0 && (str.indexOf('.') - str.indexOf('@@') > 1) && str.indexOf('.') < str.length - 1;
    }

    $("body").on("click", ".register", function (e) {
        e.preventDefault();
        var info = $("#registerInfo").val();
        if (info != "") {
            var ketqua = false;
            if (checkPhone(info)) {
                ketqua = true;
            }
            else if (validateEmail(info)) {
                ketqua = true;
            }
            else {
                alert("Thông tin bạn nhập không đúng định dạng.");
                return false;
            }
            if (ketqua == true) {
                $.post('/Home/RegisterContact', { info: info }, function (msg) {
                    if (msg.Erros == false) {
                        alert(msg.Message);
                        $("#registerInfo").val("");
                    }
                    else {
                        alert(msg.Message);
                        return false;
                    }
                });
            };
        }
        else {
            alert("Bạn chưa nhập email hoặc số điện thoại");
            return false;
        }
        return false;
    });
</script>
