<div class="col-md-3 r-footer-facebook r-footer-about" data-ride="animated" data-animation="fadeInRight" data-delay="200">
	<span>FDI trên Facebook</span>
	<div fb-iframe-plugin-query="" fb-xfbml-state="rendered" data-show-border="false" data-height="228" data-width="250" data-stream="false" data-header="false" data-show-faces="true" data-colorscheme="dark" data-href="" class="fb-like-box fb_iframe_widget">
	</div>
</div>
