/* HEADER and FOTTER */
.navbar.affix-top {border-bottom: 5px solid #26ADE3;}
.widget-dropdown .menu-title:hover {background:#26ade3}
.navbar .nav .active i{color:#26ade3;}
.navbar .nav > li:hover {background:#26ade3}
.nav > li > a:hover,.nav > li > a:focus {background-color: #26ade3;color: white;}
.widget-dropdown .widget-html .widget-inner ul li:hover{background:#26ade3}
.navbar .nav li.dropdown > .dropdown-toggle:hover,.navbar .nav li.dropdown.open > .dropdown-toggle:hover {background-color: #26ade3;}
header#header .topmenu-responsive {background: #26ade3;}
.sidebar-menu {background: #26ade3;}
#cssmenu > ul > li > a,.div-search-mobile {border-bottom: 1px solid #0D8EC2;}
#cssmenu > ul > li > a:hover,#cssmenu > ul > li.active > a,#cssmenu > ul > li.open > a{color:#fff;background:#1099d0;}
#cssmenu ul ul li ul li > a:hover{background:#26ade3;}
.FDI-dknt > p {color: #26ade3;}
.FDI-dknt .input-group-btn button {background:#26ade3;}
.FDI-copyright {background:#26ade3;}
.div-module-six {background: transparent;}
.FT-muitencong {  position: absolute;left: -10px;top: 65px;}
.mega-menu {border-bottom: 5px solid #26ade3;}
/*module one*/
.dv-module-one {margin: 40px 0 50px;}
.dvmd-one-title-ico {width:50px;height:50px;border-radius:50%;background:#3c3c3c;float:left;margin-right:10px;text-align:center;padding-top: 9px;-webkit-transition: width 0.8s, height 0.8s, -webkit-transform 0.8s;transition: width 0.8s, height 0.8s, transform 0.8s;}
.dvmd-one-title {margin-bottom:17px;float:left;width:100%;}
.dvmd-one-main {float:left;width: 100%;}
.dvmd-one-title a {font-size:20px;color:#3d3d3d;line-height: 15px;top: 18px;position: relative;}
.dvmd-one-main-img {width:100%;border:3px solid #d9f1fd;}
.dvmd-one-main-img img {width:100%;height:110px;}
.dvmd-one-main-text {max-height: 120px;overflow: hidden;float: left;}
.dvmd-one-main-text p {color:#3c3c3c;text-align:justify;margin-top:10px;}
.dvmd-one-title:hover .dvmd-one-title-ico {background:#26ade3;-webkit-transform: rotate(360deg);transform: rotate(360deg);}
.dvmd-one-title:hover a {color:#26ade3}
/*module two*/
.dv-module-two {background:url(../Images/bg-cachimilog.jpg)left top repeat-x;min-height:275px;width:100%;}
.dvmd-two-main {background:url(../Images/bg-cachimi.png)right top no-repeat;min-height:275px;width:100%;}
.dvmd-two-main-img {width: 20%;float: left;padding-top: 35px;}
.dvmd-two-main-img img {max-width:100%;}
.dvmd-two-main-text {text-align: center;float: left;width: 50%;padding-top: 50px;}
.dvmd-two-main-text h3 {font-weight:bold;font-size:30px;color:white;text-transform:uppercase;padding: 0 15px;}
.dvmd-two-main-text h5 {font-size:18px;color:white;font-weight:normal;text-shadow: 0px 1px 1px #000;padding: 0 15px;}
/*module three*/
.dv-module-three .table_sec {float: left; width:100%;text-align: center;margin-bottom: 30px;}
.dv-module-three .table_sec h2 {margin: 0px; padding: 15px 0px; border: 0px;font-size: 20px; color:white; border-top-right-radius:3px; border-top-left-radius: 3px; background:#3c3c3c;}
.dv-module-three .table_sec .detail {border:1px solid rgb(227, 227, 227);border-top:0;border-bottom:0;width: 100%;float: left;}
.dv-module-three .table_sec .detail p {padding: 18px 0px 12px; font-size: 22px; border: 0px; outline: 0px;color: rgb(48, 48, 48); letter-spacing: -1px; line-height: 15px;}
.dv-module-three .table_sec .detail p .month {font-size: 10px; color: rgb(85, 85, 85); letter-spacing: 0px;}
.dv-module-three .table_sec .detail ul {margin: 0px; padding: 0px;border-top: 1px solid rgb(227, 227, 227);}
.dv-module-three .table_sec .detail ul li {margin: 0px; padding: 10px 0px;border-bottom:1px solid rgb(227, 227, 227);color: black;}
.dv-module-three .table_sec .detail ul li .fa-check {color:#26ade3;font-size: 17px;}
.dv-module-three .table_sec .table-bot {width:100%;}
.button-banggia {width:100%;margin-top: 30px;float:left;padding-bottom: 15px;}
.button-banggia a {padding:10px 28px;background:#3c3c3c;  color: white;font-size: 18px;border-radius: 3px;}
.button-banggia a:hover {background:#ffa200;}
/*modul support*/
.div-product-three {border-top: 1px dashed #d9d9d9;padding: 40px 0 20px;}
.dv-module-three h3 {color:#3c3c3c;text-transform:uppercase;font-size:24px;margin:35px 0 45px;font-family:"Open Sans";font-weight: 700;}
.div-product-three .title {margin-top: 0;margin-bottom: 40px;font-size: 28px;}
.chuyenvien {text-align:center;margin-bottom: 20px;}
.chuyenvien .avatar {}
.chuyenvien .avatar img {width: 89px;height: 89px;}
.chuyenvien .name {color: #ed1d24;font-size: 13px;text-transform: uppercase;padding: 8px 0 0;font-weight: bold;}
.chuyenvien .position {color: #515151;font-size: 13px;padding: 4px 0 8px;}
.chuyenvien .position span {color: #2194d2;}
.chuyenvien .position span i {color: #04AEDA;}
.chuyenvien .nick .skype {margin-right: 5px;}
.chuyenvien .nick .yahoo {margin-left: 5px;}
/*kien thuc chia se*/
.dv-ktcs h3 {  color: #3c3c3c;text-transform: uppercase;font-size: 24px;margin: 35px 0 45px;font-family: "Open Sans";font-weight: 700;}
.dv-ktcs {background:#f7f7f7;border-top:1px dashed #d9d9d9;}
.lazyOwl a {color:#575757;font-size:14px;font-weight: bold;}
.lazyOwl p {color:#575757;text-align:justify;}
.images-ktcs {height:118px;width:100%;border:3px solid #fff;float:left;background-size: auto 100%;background-repeat: no-repeat;background-color: #B0D2D3;margin-bottom: 10px;}
.lazyOwl {margin:0 15px;}
.owl-theme .owl-controls .owl-buttons div {background: #65BD77;}
.owl-theme .owl-controls .owl-page span {background: #65BD77;}
/*more*/
.pmmore-module-one {background: url(../Images/bg-head-more-hosting.JPG)center top no-repeat #26ade3;width: 100%;min-height: 109px;padding: 0 15px;padding-bottom: 10px;}
.pmmore-module-one .text-ktcs {font-size:24px;text-transform:uppercase;font-weight:bold;margin-top:28px;color:white;margin-bottom: 5px;  display: block;}
.title-crumbs {width:100%;color:#e2f6fe;}
.title-crumbs a {color:#e2f6fe;  margin:0px 5px;}
.title-crumbs a:first-child {margin-left:0px;}
.pmmore-module-two {margin-top:30px;}
.dv-post-detail>h1,.dv-post-title {color:#4a4a4a;font-size:24px;margin:0;}
.dv-post-date {color:#acacac;}
.dv-post-detail>p>span>em{color:#969696;font-style:italic;}
.dv-post-detail h4 {margin-bottom:5px;}
.dv-post-detail {margin-bottom: 60px;}
.dv-post-detail p {text-align:justify;}
.post-share {height: 25px;width: 100%;float: left;margin-bottom: 20px;}
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices,.stButton .stButton_gradient {height: 22px !important;}
.dv-box-title a {color:#4a4a4a;background:#fff;font-size:24px;padding-right: 10px;}
.bg-box-title-dv {height:15px;background:#e0e0e0;width:100%;float:left;margin-top: -24px;}
.img-docnhieu {width:35%;height:50px;border:3px solid #d2d2d2;overflow:hidden;float:left;margin-right:4%;margin-top: 3px;}
.img-docnhieu img {width:100%;}
.dv-box-main li>a {color:#4a4a4a;font-weight:bold;  line-height: 18px !important;float: left;width: 60%;}
.dv-box-main li>a:hover {color:#9a4822;}
.dv-box-main ul {overflow: hidden;width: 100%;  padding-bottom: 15px;border-bottom: 1px dashed #DADada;float: left;}
.dv-box-main li {overflow: hidden;width: 100%;height: 70px;border-top: 1px dashed #DADada;float: left;padding-top: 15px;margin-top: 15px;}
.dv-box-main li:first-child {border-top:0;padding-top:0px;height:55px;}
/*list*/
.pmlist-module-two {margin-top: 20px;}
.pmlist-mdtwo-main {margin-bottom:15px;float: left;  width: 100%;}
.pmlist-box-news {float: left;border-bottom: 1px dashed #d9d9d9;padding-top: 20px;padding-bottom: 20px;}
.dvpm-list-main {overflow: hidden;}
.dvpm-list-img {border:3px solid #e5e5e5;padding: 0;overflow: hidden;}
.dvpm-list-img img {max-width:100%;}
.dvpm-list-main .dv-post-title{color:#3b3b3b;font-size:18px;}
.dvpm-list-main p {color:#787878;text-align: justify;}
.dvpm-list-main .dv-post-date {font-size:13px;  color: #bebebe;margin-bottom: 3px;}
/*Phan trang*/
.div-phantrang {padding-left: 0;margin-bottom: 25px;padding: 0 15px;  width: 100%;float: left;}
.dot-fillin {}
.dot-fillin ul {position: relative;display: inline-block;margin: 0;padding: 0;list-style: none;cursor: default;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.dot-fillin li {position: relative;display: block;float: left;margin-right: 10px;width: 26px;height: 26px;text-align: center;cursor: pointer;margin-bottom: 5px;line-height: 26px;}
.dot-fillin li a:focus {outline: none;}
.dot-fillin li a {top: 0;left: 0;width: 100%;height: 100%;outline: none;color:#26ade3;cursor: pointer;position: absolute;background-color: transparent;box-shadow: inset 0 0 0 1px #26ade3;-webkit-transition: box-shadow 0.3s ease;transition: box-shadow 0.3s ease;}
.dot-fillin li a span {float: left;padding: 0px 9px;}
.dot-fillin li a:hover,.dot-fillin li a:focus {box-shadow: inset 0 0 0 2px #26ade3;}
.dot-fillin li.current a {box-shadow: inset 0 0 0 15px #26ade3;color:white;}
.dot-fillin i {float: left;margin-top: 6px;}
.dot-fillin .fa-angle-left, .dot-fillin .fa-angle-right {margin-left: 2px;}
.dvpm-list-main .dv-post-title:hover {color:#26ade3;}
.dvpm-list-img,.dvpm-list-main {height: 125px;}

.ktcs-xemtatca {float: left;float: right;padding-right: 15px;margin-top: -30px;}
.ktcs-xemtatca a {color: #26ade3;}
.ktcs-xemtatca i {color: #26ade3;margin-left:5px;}
@media (max-width:992px) 
{
    .col-sm-3:last-child .dvmd-one-title a {top: 0px;}
    .dvmd-one-title a {top: 8px;}
    .dvmd-one-title {min-height: 60px;}
    .dvmd-one-main-text {max-height: 215px;}
    .dvmd-two-main-img {width: 35%;padding-top: 40px;}
    .dvmd-two-main-text {width: 65%;padding-top: 25px;}
    .dvmd-two-main {background: transparent;}
    .images-ktcs {height:97px;}
}
@media (max-width:764px)
{
    .dvmd-one-title a {top: 17px;}
    .col-sm-3:last-child .dvmd-one-title a {top: 17px;}
    .dvmd-one-main {margin-bottom: 30px;}
    .dvmd-one-title {min-height: inherit;}
    .dvmd-one-title {margin-bottom: 10px;}
    .dvmd-two-main-img {display: none;}
    .dvmd-two-main-text {width: 100%;padding-top: 55px;}
}
@media (max-width:600px)
{
    .dvmd-two-main-text {padding-top: 20px;}
}
@media (max-width:310px)
{
    .col-sm-3:last-child .dvmd-one-title a {top: 8px;}
}
@media (min-width:992px) and (max-width:1199px)
{
    .dvmd-one-main-text {max-height: 150px;}
    .col-sm-3:last-child .dvmd-one-title a {top: 8px;}
    .dvmd-two-main-img {display: none;}
    .dvmd-two-main-text {width: 65%;}
    .images-ktcs {height:94px;}
}
@media (min-width:1200px) and (max-width:1700px)
{
    .col-sm-3:last-child .dvmd-one-title a {top: 8px;}
    .dvmd-one-main-text {max-height: 130px;}
}
@media (min-width:1700px)
{
    .dvmd-two-main-text {width: 55%;}
    .images-ktcs {height:139px;}
}



.header-mobile,.sidebar-menu-open .sidebar-menu,#cssmenu > ul > li,#cssmenu > ul > .has-sub > .a-open-down,#cssmenu .has-sub .has-sub li:hover a:before {background: #26ade3;}
#cssmenu > ul > li:last-child,#cssmenu .has-sub .has-sub li a:before {border-color: #26ade3;}
#cssmenu > ul > .has-sub > .a-open-down {border-color:#0D8EC2 !important}