/*About*/
body {font-family: 'Open Sans', sans-serif;}
a {-o-transition-property: background-color, border-color, color, opacity;-moz-transition-property: background-color, border-color, color, opacity;-webkit-transition-property: background-color, border-color, color, opacity;transition-property: background-color, border-color, color, opacity;-o-transition-duration: 0.3s;-moz-transition-duration: 0.3s;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;text-decoration: none !important;}
.about {background: #fff;position: relative;padding-top: 50px;padding-bottom:50px;border-bottom: 2px solid #f0f0f0;}
.about .r-h2 {font-weight: normal;font-size: 26pt;text-shadow: 0 0 1px rgba(0, 0, 0, 0.44);}
.about span {font-weight: bold;font-size: 17px;display: block;margin-bottom: 20px;margin-top: 23px;}
.about p {line-height: 27px;margin-bottom: 41px;}
.r-a-view {border: 2px solid #2FC7F7;padding: 5px 50px;border-radius: 32px;-webkit-border-radius: 32px;line-height: 23px;font-size: 13px;padding-top: 6px;color: #2FC7F7;text-transform: uppercase;position: relative;cursor: pointer;display: block;width: 200px;}
.r-a-view:after {-o-transition: background-image 0.3s;-moz-transition: background-image 0.3s;-webkit-transition: background-image 0.3s;transition: background-image 0.3s;content: ' ';background: url(../images/icons2.png) 0 -450px no-repeat;width: 9px;height: 14px;position: absolute;right: 13px;top: 9px;text-decoration: none;}
.r-a-view:hover:after {opacity: 0.7;background-image: url(../images/icons-hover.png);}
.r-a-view:hover {opacity: 0.7;}
#ra-gt {position: relative;width: 100%;height: 395px;}
#ra-gt .r-circle {padding: 0;margin: 0;list-style: none;}
#ra-gt .r-circle li {visibility: hidden;position: absolute;background: no-repeat;}
.animation-zoom2 {-moz-animation: rioZoom 0.7s;animation: rioZoom 0.7s;-webkit-animation: rioZoom 0.7s;visibility: visible !important;}
#ra-gt .r-circle .n1 {background-image: url(../imgs/circle-1.png);width: 174px;height: 173px;top: 17px;left: 25px;}
#ra-gt .r-circle .n2 {z-index: 1;background-image: url(../imgs/circle-2.png);width: 289px;height: 289px;top: 0;left: 109px;}
#ra-gt .r-circle .n3 {background-image: url(../imgs/circle-3.png);width: 268px;height: 267px;top: 76px;left: 273px;}
#ra-gt .r-circle .n4 {z-index: 1;background-image: url(../imgs/circle-4.png);width: 159px;height: 158px;top: 185px;left: 461px;}
#ra-gt .img01 {position: absolute;z-index: 3;visibility: hidden;max-width: 350px;bottom: 0;left: 0;}
.animation-opacity2 {visibility: visible !important;-moz-animation: rioOpacity 0.7s;animation: rioOpacity 0.7s;-webkit-animation: rioOpacity 0.7s;}
/*Main*/
.r-templete .tab-content ul {margin: 0;padding: 0;}
.r-templete .tab-content ul li {list-style: none;}
.r-templete .tab-content ul li .r-tem-item {border: 1px solid #E4E4E4;padding: 10px;position: relative;text-align: center;margin: 24px 20px;border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;overflow: hidden;}
.r-templete .tab-content ul li:hover .r-tem-item {border: 1px solid #68C4E7;}
.r-templete .tab-content ul li .r-tem-boder {position: relative;}
.r-templete .tab-content ul li .r-tem-boder a {}
.r-templete .tab-content ul li h3 {color: #fff;visibility: hidden;}
.r-templete .tab-content ul li h3:hover {box-shadow: 0 0 7px rgba(0, 184, 255, 0.77);background: rgba(13, 121, 172, 0.41);}
.r-templete .tab-content ul li .r-tem-item-a img {width: 100%;height: 100%;}
.r-templete .tab-content ul li .r-item-overlay {position: absolute;top: 0;left: 0;display: block;background: rgba(17, 127, 195, 0.0);width: 100%;height: 100%;-webkit-transition: background 1.5s;transition: background 1.5s;}
.r-templete .tab-content ul li:hover .r-item-overlay {display: block;background: rgba(17, 127, 195, 0.5);}
.r-templete .tab-content ul li .r-tem-item .r-item-overlay .takebottom {position: absolute;bottom: 150px;left: 0;right: 0;margin: auto;}
.r-templete .tab-content ul li .r-tem-item:hover a {visibility: visible;}
.r-templete .tab-content ul li .r-tem-item:hover h3 {visibility: visible;}

.r-templete-title {background: url(imgs/bgtem.png);height: 58px;border-top: 3px solid #F0F0F0;margin-top: 3px;position: relative;}
.r-templete-title a {position: absolute;display: block;margin: auto;width: 100px;height: 100px;background: url(imgs/gd-bt.png) no-repeat #009ddc center;z-index: 1;left: 0;right: 0;border: 4px solid #ECECEC;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;top: 3px;-webkit-transition: border 0.2s;transition: border 0.2s;}
.r-templete-title a:hover {border: 4px solid #fff;}
.r-templete h2 {display: block;margin: 62px 0 0;font-weight:normal;color: #1673C9;font-size: 26pt;text-shadow: 0 0 1px rgba(22, 115, 201, 0.77);}
.r-templete-tab {text-align: center;margin-top: 50px;border: 0px;}
.r-templete-tab>li {float: none;margin-bottom: -1px;display: inline-block;width: 128px;}
.r-templete-tab li .itab {background: url(../imgs/tab-gd.png) no-repeat;height: 64px;display: block;width: 64px;text-align: center;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-ms-filter: grayscale(100%);-o-filter: grayscale(100%);filter: grayscale(100%);filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */filter: gray; /* IE 6-9 */}
.r-templete-tab li .itab:hover {-webkit-filter: none;-moz-filter: none;-ms-filter: none;-o-filter: none;filter: none;filter: none; /* Firefox 4+ */filter: none; /* IE 6-9 */}
.r-templete-tab li .nb {background-position: -3px -11px;}
.r-templete-tab li .nb:hover {background-position: -3px -11px;}
.r-templete-tab li .dm {background-position: -73px -13px;}
.r-templete-tab li .ld {background-position: -315px -10px;}
.r-templete-tab li .dv {background-position: -397px -14px;}
.r-templete-tab li .gd {background-position: -522px -2px;}
.r-templete-tab li .tb {background-position: -152px -12px;}
.r-templete-tab li .kh {background-position: -233px -12px;}
.r-templete-tab li .gt {background-position: -473px -16px;}
.r-templete-tab li .mb {background-position: -552px -12px;}
.r-templete-tab li i {margin: auto;}
.r-templete-tab li a {padding: 0;border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;}
.r-templete-tab li a:hover, .r-templete-tab li a:focus {background: #fff;border: 1px solid #fff;}
.r-templete-tab li span {color: #797979;display: block;margin-top: 8px;font-weight: bold;text-transform: uppercase;font-size: 12px;}
.r-templete-tab>li.active>a>.itab, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {-webkit-filter: none;-moz-filter: none;-ms-filter: none;-o-filter: none;filter: none;filter: none; /* Firefox 4+ */filter: none; /* IE 6-9 */}
.r-templete-tab>li.active>a>span {color: #1673C9;}
.r-templete-tab>li.active>a, .r-templete-tab>li.active>a:hover, .r-templete-tab>li.active>a:focus {color: #555;cursor: default;background-color: #fff;border: 1px solid #fff;border-radius: 1px;-webkit-border-radius: 1px;-moz-border-radius: 1px;-webkit-border-radius: 1px;}
.r-templete .r-a-view {width: 200px;margin-bottom: 40px;}
.recent-work {position: relative;}
.recent-work-item {padding-left: 10px;}	}
.recent-work .recent-work-item em {display: block;overflow: hidden;position: relative;}
.recent-work .recent-work-item .fa {color: #fff;padding: 16px 30px 16px 18px;font-size: 16px;position: absolute;top: 50%;width: 47px;height: 47px;border-radius: 47px;background: rgba(0,0,0,0.5);transition: all 0.6s ease;-o-transition: all 0.6s ease;-moz-transition: all 0.6s ease;-webkit-transition: all 0.6s ease;	}
.recent-work .recent-work-item .fa:hover {color: #E02222;}
.recent-work .recent-work-item .fa-link {left: -100px;top:90px;}
.recent-work .recent-work-item .fa-search {right: -100px;top:90px;}
.recent-work .recent-work-item:hover .fa-link {left: 26%;}
.recent-work .recent-work-item:hover .fa-search {right: 26%;}

/*Coment*/
.r-customer {background: #0069A3;border-bottom: 1px solid #108DD2;padding: 0 30px;}
.r-customer .r-customer-item {position: relative;margin: 20px}
.r-customer a.img {display: block;position: relative;width: 200px;height: 200px;border: 6px solid rgba(255, 255, 255, 0.39);border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;left: 0;right: 0;margin: auto;overflow: hidden;}
.r-customer a.img img {padding: 0px;width: 200px;}
.r-customer .r-customer-name {color: #fff;display: block;margin-top: 9px;text-transform: uppercase;padding: 0;line-height: 23px;font-size: 14px;}
.r-customer .r-customer-web {color: #DFD455;display: block;line-height: 25px;}
.r-customer p {color: #C3D8E2;text-align: justify;}
.r-customer .view {color: #EBEBEB;padding: 0px 8px;background: rgba(189, 226, 255, 0.37);border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;font-size: 12px;padding-bottom: 3px;}
.r-customer .r-a-view {width: 200px;margin-bottom: 40px;color: #fff;border: 2px solid #FFFFFF;}
.r-customer h2 {display: block;margin: 62px 0 0;color: #FFFFFF;font-size: 26pt;text-shadow: 0 0 1px rgba(22, 115, 201, 0.77);text-transform: uppercase;}
 .r-customer-item .ehover img {position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 0;height: 0;-webkit-transition: width 0.5s, height 0.5s;}
.r-customer-item:hover .ehover img {width: 48px;height: 48px;}
.r-customer-item:hover .ehover {visibility: visible;width: 200px;height: 200px;}
.r-news-item .ehover {position: absolute;z-index: 1;background: rgba(214, 214, 214, 0.2);width: 1%;height: 1%;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;visibility: visible;-webkit-transition: width 0.5s, height 0.5s;}
.r-news-item .ehover img {position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 0;height: 0;-webkit-transition: width 0.5s, height 0.5s;}
.r-news-item:hover .ehover img {width: 48px;height: 48px;}
.r-news-item:hover .ehover {visibility: visible;width: 200px;height: 200px;}
.r-customer-item .ehover {position: absolute;z-index: 1;background: rgba(214, 214, 214, 0.2);width: 1%;height: 1%;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;visibility: visible;-webkit-transition: width 0.5s, height 0.5s;}
.r-customer-item .ehover img {position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;width: 0;height: 0;-webkit-transition: width 0.5s, height 0.5s;}
.r-customer-item:hover .ehover img {width: 48px;height: 48px;}
.r-customer-item:hover .ehover {visibility: visible;width: 200px;height: 200px;}
.owl-buttons div {display: inline-block;width: 26px;height: 26px;margin-left: 5px;position: static;text-indent: -100000px;}

@media only screen and (min-width: 1700px) 
{
    .r-templete .tab-content ul li h3 {font-size: 22pt;}
    .recent-work .recent-work-item .fa {padding: 28px;font-size: 25px;width: 80px;height: 80px;}
    .r-templete .tab-content ul li .r-tem-item .r-item-overlay .takebottom {bottom: 190px;}
}
@media (max-width:768px) 
{
    .r-customer h2,.r-templete h2,.about .r-h2 {font-size: 20pt;}
    .about span {font-size: 15px;}
    .r-customer {
	  padding:0px;
	}
}
@media (min-width:768px) 
{
	.about {;padding: 50px;}   
    .r-footer {
	  padding: 30px 0px 0px;
	}
}

@media (min-width:1200px) and (max-width:1700px)  
{
    .r-templete .tab-content ul li .r-tem-item .r-item-overlay .takebottom {bottom: 180px;}
    .r-templete .tab-content ul li h3 {font-size: 20pt;}
    .recent-work .recent-work-item .fa {padding: 20px;font-size: 22px;width: 60px;height: 60px;}
}
@media (min-width: 768px) 
{
    .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {padding-right: 45px;}
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {padding-left: 45px;}
}
@media (min-width:992px) and (max-width:1200px) 
{
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {padding-left: 50px;}
}
@media only screen and (min-width: 1700px) 
{
    body {font-size: 16px;}
    .r-copyright {font-size: 14px;}
    .r-footer-news ul li a img {height: 75px;}
}

/* preloading images */
#owl-demo .item{background: #3fbf79;padding: 30px 0px;margin: 10px;color: #FFF;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;text-align: center;}
.customNavigation{text-align: center;}
.customNavigation a{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
div.customNavigation > a.prev {position: absolute;top: 40%;left:0px;z-index: 1;width: 84px;height: 84px;background: url(../imgs/tempre.png) no-repeat center;-webkit-transition: border 0.3s;transition: border 0.3s;border-radius: 50%;}
div.customNavigation > a.next {position: absolute;top: 40%;right: 0px;z-index: 1;width: 84px;height: 84px;background: url(../imgs/temnext.png) no-repeat center;-webkit-transition: border 0.3s;transition: border 0.3s;border-radius: 50%;}
@media (min-width:992px) {
    div.customNavigation > a.next:hover,div.customNavigation > a.prev:hover {border: 10px solid rgba(47, 198, 247, 0.2);}
}
@media (max-width:990px) {
    div.customNavigation > a.next,div.customNavigation > a.prev {display:none;}
}

