a:hover,a:focus {text-decoration: none;transition: all 0.5s ease;-webkit-transition: all 0.5s ease;-moz-transition: all .5s ease;-ms-transition: all 0.5s ease;-o-transition: all 0.5s ease;}
#header .topmenu{}
#header .topmenu ul{float:right;}
#header .topmenu ul li{float:left;}
#header .topmenu ul li:last-child{margin-right:0px;border-bottom: 0;}
#header .topmenu-responsive{background:#65bd77;}
#header .topmenu ul li a.btn,header#header nav.topmenu-responsive ul li a.btn {cursor:pointer; padding:10px 15px;display:inline-block;font-size:20px;text-align:center;overflow:hidden;color:#fff;font-size:12px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;text-transform:uppercase;}
#header .topmenu-responsive ul li a.btn {cursor:pointer; padding:10px 15px;display:inline-block;font-size:20px;text-align:center;overflow:hidden;color:#fff;font-size:12px;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;text-transform:uppercase;box-shadow:none;}
#header .topmenu-responsive ul {width:100%;text-align:center;overflow:hidden;}
#header .topmenu-responsive ul li {display:inline-block;*display:inline; /*IE7*/*zoom:1; /*IE7*/color:white;}
#header .topmenu ul li a.effect{ background:#36414b}
#header .topmenu ul li a.effect:hover{ background-size:3px 1px;}
#header .topmenu ul li a.active{background:#65bd77;box-shadow:none;}
#header .topmenu ul li a i{padding-right:5px;}
/* MAIN MENU */
.navbar{clear: both;border-radius:0px;margin-bottom:0px;right: 40px;}
.navbar .nav>li>a {text-transform: uppercase;font-size: 15px;z-index: 0;overflow: hidden;padding: 16px 20px;color: #4f4f4f;  font-size: 13px;font-weight: bold;transition:initial;}
.navbar .nav > li > a:hover {}
.nav > li > a:hover, .nav > li > a:focus {text-decoration: none;background-color: #65bd77;color: white !important;}
.nav > li >a {display: block;}
.nav-collapse ul.nav li{float:left}
.nav-collapse ul.nav li a:hover{color:white;}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {background-color: #65BD77;border-color: #FFFFFF;color: white !important;}
.logo-big-dk {margin-top:0px;}
.widget-html .widget-inner i {width: 25px;text-align: center;color:#4f4f4f !important;}
.widget-html .widget-inner li:hover i {color:white !important;}
.navbar .nav > li:hover a {color: #fff;}
.navbar .nav > li:hover {background:#65bd77}
.menu-fdi-sub {right: 0;position: fixed;margin: 0px auto;padding-bottom: 20px !important;}
/* MEGA MENU STYLE */ 
.widget .menu-title, .widget-dropdown .menu-title {font-size: 15px;text-transform: uppercase;padding-bottom: 15px;padding:8px;font-weight: normal;font-family: 'Open Sans', sans-serif;font-weight: 700;background:#4f4f4f;clear:both}
.widget-dropdown .widget-html .widget-inner ul{border:0;width: 100%;}
.widget-dropdown .widget-html .widget-inner ul li{list-style:none;border:0;border:1px dashed #d9d9d9;border-left:none;border-right:none;}
.widget-dropdown .widget-html .widget-inner ul li:first-child{border-top:none}
.widget-dropdown .widget-html .widget-inner ul li:last-child{border-bottom:none}
.widget-dropdown .widget-html .widget-inner ul li:hover{background:#65bd77}
.mega-menu {padding: 10px 5px 0;background: #FFFFFF;border: 0;box-shadow: none;border-radius: 0;top: 48px;-moz-box-shadow: 0 4px 5px 0 #8e8e8e;webkit-box-shadow: 0 4px 5px 0 #8e8e8e;box-shadow: 0 4px 5px 0 #8e8e8e;}
.navbar.affix-top .menu-fdi-sub {top: 55px;border-top: 10px solid rgba(255, 255, 255, 0);}
.mega-menu .mega-col{}
.mega-menu .mega-col-1 {width:100%;}
.mega-menu .mega-col .widget-dropdown .widget-html .widget-inner ul li:hover h3{color:#fff}
.mega-menu .mega-col .widget-dropdown .widget-html .widget-inner ul li h3{font-size: 14px;padding: 0px 10px 0px;margin-left: 15px;}
.mega-menu .mega-col .widget-dropdown .widget-html .widget-inner ul li:first-child {border-top: none;}
.mega-menu .mega-col .widget-dropdown .widget-html .widget-inner ul li {list-style: none;border: 0;border-bottom: 1px dashed #d7d7d7;border-left: none;border-right: none;width: 100%;float: left}
.mega-menu .mega-col .widget-dropdown .widget-html .widget-inner ul li a{padding: 7px 0;line-height: 28px;list-style: none;color: #4f4f4f;border: none !important;display: block;font-size: 14px;/*font-weight: 600;font-family: 'Open Sans', sans-serif;*/}
.mega-menu .mega-col .widget-dropdown .widget-html .widget-inner ul li:hover a{color:#fff;-webkit-transform: translate(1em,0);-moz-transform: translate(1em,0);-o-transform: translate(1em,0);-ms-transform: translate(1em,0);transform: translate(1em,0)}
.nav>li>a>i {font-size: 20pt;margin-top: -5px;}
.navbar .nav > li:first-child a {padding:16px 15px 11px 20px;}
.navbar .nav .active {}
.navbar .nav .active i{color:rgb(101, 189, 119);}
.navbar .nav .active:hover i{color:white;}
.widget-dropdown .menu-title a {color:#fff !important;display:block;}
.widget-dropdown .menu-title:hover {background:rgb(101, 189, 119) }
/* Search */
.search-box{width: 100%;top:0;right: 0;position: absolute;}
.search-box2{width: 100%;top:0;right: 0;position: absolute;}
.sb-search {position: absolute;width: 0%;min-width: 44px;right: 0;height: 50px;overflow: hidden;-webkit-transition: width 0.3s;-moz-transition: width 0.3s;transition: width 0.3s;-webkit-backface-visibility: hidden;}
.sb-search-input {position: absolute;top: 0;right: 0;border: none;outline: none;background: #fff;width: 100%;height: 50px;margin: 0;z-index: 10;padding: 0px 40px 0px 0px;font-family: inherit;font-size: 20px;color:#65BD77;  line-height: 20px;}
input[type="search"].sb-search-input {-webkit-appearance: none;-webkit-border-radius: 0px;}
.sb-search-input::-webkit-input-placeholder {color: #7F91A2;}
.sb-search-input:-moz-placeholder {color: #7F91A2;}
.sb-search-input::-moz-placeholder {color: #7F91A2;}
.sb-search-input:-ms-input-placeholder {color: #7F91A2;}
.sb-icon-search,.sb-search-submit  {width:43px;height:43px;display: block;position: absolute;right: 0;top: 3px;padding: 0;margin: 0;line-height: 60px;text-align: center;cursor: pointer;}
.sb-search-submit {background: #fff; /* IE needs this */-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */filter: alpha(opacity=0); /* IE 5-7 */opacity: 0;color: transparent;border: none;outline: none;z-index: -1;}
.sb-icon-search {color: #fff;background: url(../images/search-icon.png) no-repeat 0px 1px #fff;z-index: 90;font-size: 22px;speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;-webkit-font-smoothing: antialiased;}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {width: 100%;}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {background: url(../images/search-icon.png) no-repeat 0px 1px;color: #fff;z-index: 11;}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {z-index: 90;}
/* Mobile Header */
.sidebar-container,.sidebar-pusher,.sidebar-content {height: 100%}
.sidebar-content,.sidebar-content-inner {position: relative;z-index:0}
.sidebar-container {position: relative;overflow: hidden;}
.sidebar-pusher {width: 100%;left: 0;z-index: 99;height: 100%;-webkit-transition: -webkit-transform 0.5s;transition: transform 0.5s;}
.sidebar-pusher::after {position: absolute;top: 0;right: 0;width: 0;height: 0;background: rgba(0,0,0,0.7);content: '';opacity: 0;-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;}
.sidebar-menu-open .sidebar-pusher::after {width: 100%;height: 100%;opacity: 1;-webkit-transition: opacity 0.5s;transition: opacity 0.5s;}
.sidebar-menu {position: absolute;top: 0;left: 0;z-index: 100;visibility: hidden;width: 300px;height: 100%;background: #65bd77;-webkit-transition: all 0.5s;transition: all 0.5s;}
.sidebar-menu::after {position: absolute;top: 0;right: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.2);content: '';opacity: 1;-webkit-transition: opacity 0.5s;transition: opacity 0.5s;}
.sidebar-menu-open .sidebar-menu::after {width: 0;height: 0;opacity: 0;-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;}
.sidebar-menu ul {margin: 0;padding: 0;list-style: none;}
.sidebar-menu h2 {margin: 0;padding: 1em;color: rgba(0,0,0,0.4);text-shadow: 0 0 1px rgba(0,0,0,0.1);font-weight: 300;font-size: 2em;}
.sidebar-menu ul li a {display: block;padding: 1em 1em 1em 1.2em;outline: none;color: #f3efe0;text-transform: uppercase;letter-spacing: 1px;font-weight: 400;-webkit-transition: background 0.3s, box-shadow 0.3s;transition: background 0.3s, box-shadow 0.3s;}
.sidebar-menu ul li:first-child a {}
.sidebar-menu ul li a:hover {color: #fff;}
/*.sidebar-effect.sidebar-container {-webkit-perspective: 00px;perspective: 00px;-webkit-perspective-origin: 0% 50%;perspective-origin: 0% 50%;}*/
/*.sidebar-effect.sidebar-pusher {-webkit-transform-style: preserve-3d;transform-style: preserve-3d;}*/
.sidebar-effect.sidebar-menu-open .sidebar-pusher {-webkit-transform: translate3d(300px, 0, 0);transform: translate3d(300px, 0, 0);}
.sidebar-effect.sidebar-menu {-webkit-transform: translate3d(-100%, 0, 0) rotateY(-90deg);transform: translate3d(-100%, 0, 0) rotateY(-90deg);-webkit-transform-origin: 100% 50%;transform-origin: 100% 50%;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;}
.sidebar-effect.sidebar-menu-open .sidebar-effect.sidebar-menu {visibility: visible;-webkit-transition: -webkit-transform 0s;transition: transform 0s;-webkit-transform: translate3d(-100%, 0, 0) rotateY(0deg);transform: translate3d(-100%, 0, 0) rotateY(0deg);overflow-y:auto}
.no-csstransforms3d .sidebar-pusher,
.no-js .sidebar-pusher {padding-left: 300px;}
.sidebar-container {position: relative;overflow: hidden;height:100%;}
.sidebar-pusher {width: 100%;left: 0;z-index: 99;height: 100%;-webkit-transition: -webkit-transform 0s;transition: transform 0s;}
.header-mobile {background:#65bd77;height: 50px;}
#st-trigger-effects {left: 5%;top: 14px;position: absolute;}
#st-trigger-effects .button-black {padding: 0;border: 0;background: none;outline: none;}
#st-trigger-effects .button-black .fa-lg {color:white;font-size:30px;}
.logo-mobile {width: 165px;display: block;text-align: center;margin: 0 auto;}
.logo-mobile img{max-height:35px;top: 6px;position: relative;}
.sidebar-menu-open .sidebar-pusher {position: fixed;}
/*Mobile Search*/
#search-mobile {width:100%;height: 100%;}
#search-mobile input {outline: none;}
#search-mobile input[type=search] {-webkit-appearance: textfield;-webkit-box-sizing: content-box;font-family: inherit;font-size: 100%;width: 15px;padding-left: 10px;color: transparent;cursor: pointer;}
#search-mobile input::-webkit-search-decoration,input::-webkit-search-cancel-button {display: none; }
#search-mobile input[type=search] {background: #FFFFFF url(../images/search-mobile.png) no-repeat 9px center;border: none;padding: 7px 10px 7px 25px;width: 0px;-webkit-border-radius: 10em;-moz-border-radius: 10em;border-radius: 10em;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;transition: all 0.2s;position: absolute;top: 7px;right: 5%;}
#search-mobile input[type=search]:focus {width:65%;background-color: #fff;border-color: #66CC75;-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);box-shadow: 0 0 5px rgba(109,207,246,.5);padding-left: 32px;color: #000;background-color: #fff;cursor: auto;}
#search-mobile input:-moz-placeholder {color:transparent;}
#search-mobile input::-webkit-input-placeholder {color:transparent;}
/*Mobile nav*/
#cssmenu {color:#fff;  overflow:overlay;}	
#cssmenu > ul {float: left;width: 100%;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a{list-style:none;line-height:1;display:block;margin:0;padding:0;border:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu > ul.bonus > li > a{background:#19588b !important;border-bottom:1px solid #09406d}
#cssmenu > ul.bonus > li > a:hover,
#cssmenu > ul.bonus > li.active > a,
#cssmenu > ul.bonus > li.open > a{color:#fff;background:#65bd77;border-bottom:1px solid #09406d}
#cssmenu ul ul{display:none}
#cssmenu > ul > li > a{color:#fff;font-size:13px;text-decoration:none;padding:15px 0 15px 20px;cursor:pointer;z-index:2;border-bottom:1px solid #3EA853;}
#cssmenu > ul > li > a:hover,#cssmenu > ul > li.active > a,#cssmenu > ul > li.open > a{color:#fff;background:#47AB48;}
#cssmenu > ul > li > a > span > i,#cssmenu ul ul li > a > span > i{font-size:18px;padding-right:10px}
#cssmenu ul ul li a{background:#f4f4f4;color:#333;text-decoration:none;padding: 12px 0 12px 20px;cursor:pointer;border-bottom:1px solid #dddded;z-index:1;line-height: 20px;letter-spacing: inherit;}	
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.open > a,#cssmenu ul ul li.active > a{background:#f4f4f4;color:#333;}
#cssmenu ul ul li a:hover {background:#e5e5e5;}
#cssmenu ul ul li ul li{border:none}
#cssmenu ul ul li ul li > a{text-transform:none;border-bottom:1px dashed #ddd;background:#fff;}
#cssmenu ul ul li ul li > a:hover{background:#65bd77;color:#fff	}
#cssmenu ul ul li:first-child > a{box-shadow:none;}
#cssmenu ul ul li.has-sub > a::after{display:block;content:'';width:8px;height:8px;position:absolute;right:20px;z-index:10;top:14.5px;}
#cssmenu ul ul li.active > a::after,#cssmenu ul ul li.open > a::after,#cssmenu ul ul li > a:hover::after{border-color:#fff}
#cssmenu > ul > li.open > a,#cssmenu > ul > li:last-child > a{}
#cssmenu > ul > li.last > a{border-bottom:0px}
#cssmenu > ul > li > ul > li:last-child > a,#cssmenu > ul > li > ul > li.last > a,#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a{border-bottom:0}
.sidebar-content {position: relative;z-index: 0;height:100%;overflow:inherit;}
#header {z-index: 999;background: #Fff;clear: both;border-radius: 0px;margin-bottom: 0px;width: 100%;-webkit-transition: padding ease-in-out 0.2s;transition: padding ease-in-out 0.2s;  box-shadow: 0px 0px 5px #ccc;}
#header .affix-top {padding: 5px 0;border-bottom: 5px solid #65bd77;}
.header-desktop {}
.sidebar-container .sidebar-menu {position: absolute;top: 0;left: 0;z-index: -100;overflow:hidden;visibility: hidden;width: 0px;height: 0px;background: transparent;-webkit-transition:initial;transition:initial;visibility: hidden;-webkit-transform: inherit;transform: inherit;-webkit-transform-origin: inherit;transform-origin: inherit;-webkit-transform-style: inherit;transform-style: inherit;  display: none !important;}
.sidebar-menu-open .sidebar-menu {position: absolute;top: 0;left: 0;z-index: 100;visibility: hidden;width: 300px;height: 100%;background: #65bd77;-webkit-transition: all 0.5s;transition: all 0.5s;transform-style: inherit;  display: block !important;}
.sidebar-container #cssmenu ul li a {display:none;color: transparent;overflow:hidden;}
.sidebar-menu-open #cssmenu ul li a {display:block;overflow:initial;}
.sidebar-menu-open #cssmenu > ul > li > a {color: #fff;}
.sidebar-menu-open #cssmenu ul ul li a {color: #333;h}
#cssmenu .has-sub> .a-open-down:before {content: '';border: 2px solid transparent;display: inline-block;width: 8px;height: 8px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-ms-transform: rotate(135deg);-o-transform: rotate(135deg);transform: rotate(135deg);float: right;margin-right: 13px;margin-top: 2px;border-color: rgba(255, 255, 255, 0.75);border-right: none;border-bottom: none;-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
#cssmenu > ul > li.open > .a-open-down:before  {-webkit-transform: rotate(225deg);-moz-transform: rotate(225deg);-ms-transform: rotate(225deg);-o-transform: rotate(225deg);transform: rotate(225deg);margin-top: 1px;}
#cssmenu .has-sub .has-sub> .a-open-down:before {content: '';border: 1px solid transparent;display: inline-block;margin-right: 15px;margin-top: 6px;float: right;border-color: rgba(51, 51, 51, 0.6);width: 6px;height: 6px;border-right: none;border-bottom: none;-webkit-transition: all 0.2s ease-in;-moz-transition: all 0.2s ease-in;-o-transition: all 0.2s ease-in;-ms-transition: all 0.2s ease-in;transition: all 0.2s ease-in;}
#cssmenu .has-sub ul li.open > .a-open-down:before {-webkit-transform: rotate(225deg);-moz-transform: rotate(225deg);-ms-transform: rotate(225deg);-o-transform: rotate(225deg);transform: rotate(225deg);margin-top: 6px;}
#cssmenu .has-sub .has-sub li a:before {content: '';border: 1px solid transparent;display: inline-block;margin-right: 10px;border-radius: 50%;margin-top: 7px;float: left;background: #F4F4F4;border-color: rgba(71, 171, 72, 1);width: 6px;height: 6px;}
#cssmenu .has-sub .has-sub li:hover a:before {border-color:#fff;background: rgba(71, 171, 72, 1);width: 8px;height: 8px;margin-right: 8px;margin-top: 6px;-webkit-transition: all 0.3s ease-in;-moz-transition: all 0.3s ease-in;-o-transition: all 0.3s ease-in;-ms-transition: all 0.3s ease-in;transition: all 0.3s ease-in;}
#cssmenu > ul > li {z-index:999;position: relative;background: #65BD77;}
#cssmenu > ul > .has-sub > .a-open-down {width: 35px;position: absolute;right: 0;height: 44px;border: 0px !important;border-bottom: 1px solid #3EA853 !important;border-left: 1px solid #3EA853 !important;background: #65BD77;}
#cssmenu .has-sub ul .has-sub > .a-open-down{display:none;}
#cssmenu li.open ul .has-sub > .a-open-down{width: 35px;position: absolute;right: 0;height: 45px;border: 0px !important;border-bottom: 1px solid #ddd !important;border-left: 1px solid #ddd !important;background: #f4f4f4;display:block;}
#cssmenu > ul > .has-sub > ul > .has-sub:last-child > .a-open-down {border-bottom: 0 !important;height: 44px;}
#cssmenu > ul > li:last-child {border-bottom: 46px solid#65BD77;}
#cssmenu li.open ul li.open > .a-open-down {background: #fff;}
@media (max-width:991px) 
{
    .navbar.affix-top {padding: 0;border-bottom:0;}
    #content {padding-top: 50px;}
}
#cssmenu > ul > .has-sub > .a-open-down {width: 35px;position: absolute;right: 0;height: 44px;border: 0px !important;border-bottom: 1px solid #3EA853 !important;border-left: 1px solid #3EA853 !important;background: #65BD77;}
#cssmenu li.open ul .has-sub > .a-open-down{width: 35px;position: absolute;right: 0;height: 45px;border: 0px !important;border-bottom: 1px solid #ddd !important;border-left: 1px solid #ddd !important;background: #f4f4f4;display:block;}
